<!DOCTYPE html>
 <html lang="zxx">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>demo portfolio</title>
    
    <!-- plugin css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">


    <!-- custom css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">      


 </head>
 
 <body>
   
    <div class="demo-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="demo-text">
                        <h2>personal Portfolio minimal Html5 template</h2>
                        <p>See all of theme demo here</p>
                        <a href="#">buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="index.html" class="demos-wrap" target="_blank">
                        <img src="assets/images/demo/demo-1.jpg" alt="demo1">
                        <h3>homepage default</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="home-2.html" class="demos-wrap" target="_blank">
                        <img src="assets/images/demo/demo-2.jpg" alt="demo2">
                        <h3>homepage particle</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="home-3.html" class="demos-wrap" target="_blank">
                        <img src="assets/images/demo/demo-3.jpg" alt="demo3">
                        <h3>homepage slider</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="home-4.html" class="demos-wrap" target="_blank">
                        <img src="assets/images/demo/demo-4.jpg" alt="demo4">
                        <h3>homepage full width</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="single-blog.html" class="demos-wrap" target="_blank">
                        <img src="assets/images/demo/demo-5.jpg" alt="demo5">
                        <h3>single blog page</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="contact.html" class="demos-wrap" target="_blank">
                        <img src="assets/images/demo/demo-6.jpg" alt="demo6">
                        <h3>quick contact page</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer area start-->  
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    &copy; copyright rose 2017 | all right reserved by <a href="" class="copy">brightcarrier.</a>
                </div>
                <div class="col-sm-6 text-right wow fadeInRight">
                    <div class="social-links">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-behance"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end--> 
    
   <!-- scroll top start-->  
   <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
   <!-- scroll top end-->  
   
   
    <!--js script -->  
    <script src="assets/js/jquery-1.11.2.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery-typed.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/waypoints-2.0.3.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/isotope-3.0.4.min.js"></script>
	<script src="assets/js/jquery.sticky.js"></script>
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/jquery.scrolly.js"></script>
	<script src="assets/js/wow-1.3.0.min.js"></script>
	
	<!--active custom js-->
	<script src="assets/js/active.js"></script>
	
</body>
</html> 
