/*===============================
    desktop/leptop layout.
===============================*/

@media only screen and (min-width:991px) and (max-width:1199px) {
    .laptop-wrapper {
        width: 650px;
        margin-top: -15px;
    }
    .hero-right-img {
        right: -25%;
    }

    .left-blue-box {
        padding: 20px;
    }
}







/*==============================
    Tablet Layout
=============================*/

@media only screen and (min-width:768px) and (max-width:990px) {
    .hero-text .boxed-btn {
        display: block;
        width: 200px;
        margin: 0 auto;
        margin-top: 40px;
        padding: 3px;
        position: relative;
        z-index: 9;
    }
    .hero-text {
        font-size: 32px;
        line-height: 40px;
        padding-top: 100px;
    }
    .hero-text h2 {
        margin: 0 0 20px;
        font-size: 49px;
    }
    .hero-right-img {
        right: -32%;
        bottom: 20%;
    }
    .laptop-wrapper {
        width: 450px;
        margin-top: 107px;
    }
    .hero-right-img img {
        max-width: 150px;
    }
    .hero-right-img {
        right: -35%;
    }

    .single-service-item h3 {
        font-size: 24px;
        line-height: 25px;
    }

    .right-project-img {
        min-height: 400px;
        padding: 0;
        border-radius: 0;
    }
    .left-blue-box {
        padding: 50px 20px;
        min-height: 400px;
    }
    .portfolio-wrap .owl-controls {
        position: absolute;
        left: 60px;
        bottom: 0px;
        width: 100%;
    }
    .portfolio-wrap .owl-nav div.owl-next {
        right: 65%;
    }
    .portfolio-wrap .owl-nav div {
        left: 1%;
        bottom: 48px;
    }

    .leads-area h2 {
        padding-right: 0;
        padding-top: 0;
    }
    .partners {
        margin-bottom: 40px;
    }
    .info {
        margin-left: 30px;
    }
}







/*===================================
    normal/small mobile layout.
===================================*/

@media only screen and (max-width:767px) {
    body {
        overflow-x: hidden;
    }
    .contact-cell span {
        display: none;
    }
    .contact-cell i.fa {
        display: block;
        position: absolute;
        right: 15px;
        top: -35px;
        font-size: 30px;
    }
    .contact-cell {
        padding: 0;
    }

    .hero-text .boxed-btn {
        display: block;
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px;
    }
    .hero-text {
        font-size: 15px;
        line-height: 24px;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .hero-text h2 {
        margin: 0 0 20px;
        font-size: 26px;
        line-height: 32px;
    }

    .hero-right-img {
        display: none;
    }
    .laptop-wrapper {
        width: 370px;
        margin-top: 0;
    }
    .hero-right-img img {
        max-width: 150px;
    }
    .hero-right-img {
        right: -35%;
    }
    .hero-img {
        top: 400px;
        margin-left: 0;
    }

    .section-padding,
    .hero-bottom-content {
        padding: 50px 0;
    }
    .single-service-item {
        font-size: 15px;
        padding: 0;
        margin-bottom: 40px;
    }
    .service-icon-wrap {
        height: 90px;
    }
    .spacer-50 {
        height: 0;
    }
    .single-service-item h3 {
        font-size: 24px;
        line-height: 25px;
    }
    .blank-hero-wrap {
        height: 630px;
    }
    .dominate-service-area h2 {
        font-size: 28px;
    }
    .single-promo-box {
        padding-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .promo-icon {
        position: relative;
        top: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .left-blue-box {
        padding: 50px 20px;    
        height: auto;
    }
     .right-project-img, .right-project-img img {
        height: 240px;
        padding: 0;
    }

    .right-project-img img {
        min-height: 240px;
    }
    .single-logo-item {
        width: 25%;
    }
    .single-logo-item img {
        max-height: 35px;
    }
    .leads-area h2 {
        padding-right: 0;
        padding-top: 0;
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .leads-area h4 {
        font-size: 19px;
    }
    .check-list li {
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 30px;
        display: block;
    }
    .form-box {
        padding: 15px;
    }
    .partners {
        margin-bottom: 40px;
    }
    .info {
        margin-left: 30px;
    }
    .facebook {
        margin-left: 0;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="url"],
    input[type="password"],
    textarea {
        height: 40px;
    }
    .form-box #lName {
        margin-top: 0;
    }
    .custom-checkbox {
        font-size: 15px;
    }
    .form-box .text-right {
        text-align: center;
    }
    .footer-area .logo {
        text-align: center;
        float: none;
        margin-bottom: 20px;
    }
    .info {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    .info li {
        display: inline;
        font-size: 15px;
    }

    .info i.fa {
        font-size: 20px;
    }
    .footer-area .text-right {
        text-align: center;
        margin-top: 20px;
    }
    .portfolio-wrap .owl-dots {
        left: 50%;
        bottom: -50px;
    }
    .portfolio-area .owl-nav div {
        left: 40px;
        bottom: -50px;
    }
    .portfolio-area .owl-nav div.owl-next {
        left: auto;
        right: 0px;
    }
   .portfolio-wrap .owl-dots div.active {
        background: #000;
    }
    .check-list li i.fa{
        top: -5px;
    }
    .form-box [type=submit] {
        margin-top: 15px;
        height: 50px;
        display: block;
        width: 100%;
    }
    .about-area {
        padding-top: 100px;
    }
}







/*==============================
    wide mobile layout
================================*/

@media only screen and (min-width:480px) and (max-width:767px) {
    .blank-hero-wrap {
        height: 710px;
    }
    .hero-text h2 {
        font-size: 32px;
        line-height: 38px;
    }
    .hero-text {
        font-size: 21px;
        line-height: 30px;
    }
    .hero-text .boxed-btn {
        padding: 8px;
    }
    .laptop-wrapper {
        width: 565px;
    }
    .hero-img {
        top: 360px;
    }
    .right-project-img, .right-project-img img {
        height: 300px;
    }

    .info {
        width: 100%;
    }
    .copytext {
        margin-top: 50px;
    }
}