/* -------desktop/leptop layout.--------- */

@media only screen and (min-width:991px) and (max-width:1199px) {
    .search-form {
        right: 13%;
    }
    .bigger-menu {
        font-size: 40px;
    }
    .bigger-menu li a {
        padding: 100px 20px 50px;
    }
    .brand-images img {
        height: 54px;
    }
}


/*-----------tablet layout----------------*/

@media only screen and (min-width:768px) and (max-width:990px) {
    .header-left ul {
        padding: 0;
    }
    .slide-text-tablecell {
        font-size: 85px;
    }
    .bigger-menu {
        font-size: 30px;
    }
    .bigger-menu li a {
        padding: 70px 20px 25px;
    }
    .single-product-item {
        width: 31.333%;
        margin-bottom: 15px;
    }
    .single-product-item:nth-child(2),
    .single-product-item:nth-child(9),
    .single-product-item:nth-child(4) {
        width: 64.6666%;
    }
    .promo-title h2,
    .promo-title h2 strong {
        font-size: 30px;
    }
    .promo-content .year-text {
        font-size: 90px;
        right: 320px;
        top: 40px;
    }
    .promo-title {
        margin-bottom: 30px;
    }
    .promo-content {
        padding: 55px 55px 55px 30px;
    }
    .product-promotions-wrap .owl-dots {
        right: 2%;
        top: 58%;
    }
    .brand-images img {
        height: 40px;
    }
    .product-promotions-wrap {
        padding-bottom: 85px;
    }
    .footer-widgets-area,
    .footer-widgets-area .text-right {
        text-align: center;
    }
    .footer-widgets-area p {
        padding-bottom: 20px;
    }
}



/*-----------normal/small mobile layout-------*/

@media only screen and (max-width:767px) {
    .header-right,
    .header-left ul {
        display: none;
    }
    .homepage-slide-wrap,
    .homepage-slide-wrap div {
        height: auto;
    }
    .header-top-area {
        position: relative;
        background: #F5EBEA;
    }
    .header-top-area a.menu-trigger {
        padding-top: 15px;
    }
    .slide-text-tablecell {
        font-size: 50px;
        line-height: 55px;
        padding: 60px 0;
        text-align: center;
    }
    .owl-carousel .owl-item .single-slide-item img {
        display: none;
    }
    .bigger-menu {
        font-size: 35px;
    }
    .bigger-menu>li,
    .bigger-menu>li:nth-child(2),
    .bigger-menu>li:nth-child(3) {
        float: none;
        ;
        width: auto;
    }
    .bigger-menu li a {
        padding: 55px;
    }
    .product-area {
        margin-top: 80px;
    }
    .single-product-item,
    .single-product-item:nth-child(2),
    .single-product-item:nth-child(4),
    .single-product-item:nth-child(9) {
        float: none;
        width: 100%;
    }
    .product-load-more-btn {
        font-size: 16px;
        margin-top: 20px;
    }
    .product-promotions-wrap {
        padding: 80px 0;
    }
    .promo-bg {
        padding-top: 20px;
    }
    .owl-carousel .owl-item .product-promotions img {
        width: 100%;
    }
    .promo-content {
        padding: 0;
    }
    .promo-title h2,
    .promo-title h2 strong {
        font-size: 25px;
    }
    .promo-title {
        margin: 30px 0;
    }
    .promo-content .year-text {
        font-size: 70px;
        right: 20px;
        top: 25px;
    }
    .promo-btn {
        margin: 20px 0;
    }
    .product-promotions-wrap .owl-dots {
        margin-top: 0;
        position: relative;
        right: auto;
        text-align: center;
        top: auto;
    }
    .product-promotions-wrap .owl-dots div {
        display: inline-block;
        height: 12px;
        margin: 5px;
        width: 12px;
        margin-top: 15px;
    }
    .single-logo-item {
        width: 100%;
        display: block;
        float: inherit;
        margin-bottom: 30px;
    }
    .footer-widgets-area,
    .footer-widgets-area .text-right {
        margin-top: 15px;
        text-align: center;
    }
    .footer-widgets-area p {
        padding-bottom: 10px;
    }
    input[type="submit"] {
        margin-top: 10px;
        padding: 10px;
    }
}


/*-----------wide mobile layout----------------*/

@media only screen and (min-width:480px) and (max-width:767px) {
    .brand-images img {
        height: 65px;
        margin-bottom: 25px;
    }
}