<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title here</title>

    <!--theme favicon-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Jquery -->
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-border">
    
    <div class="site-preloader-wrap">
        <div class="preloader-inner">
            <img src="assets/images/loader.gif" alt="loader">
        </div>
    </div>
    
    <!-- Back Button Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <a class="back-btn" href="index.html">back Home</a>
            </div>
        </div>
    </div>
    <!-- Back Button End -->

    <!-- About Area Start -->
    <div class="about-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto saepe iste reprehenderit itaque eos, ducimus, commodi suscipit nesciunt? Cupiditate enim voluptates corporis fuga optio maxime perspiciatis temporibus, aliquid dolorum tempore nemo est quis porro laborum eligendi magnam impedit unde minus qui repellat odit nam similique quae ipsum. Nemo voluptatum adipisci sunt qui assumenda quisquam et, iste sed, nostrum nisi, corrupti laboriosam enim eius reiciendis laborum quidem, omnis recusandae consequatur! Explicabo modi vel quo error! Similique quos illo odit mollitia sunt quo accusantium eligendi fugiat voluptatem iure hic praesentium distinctio, error voluptate commodi, in. Vitae qui culpa error debitis, unde rem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sint id assumenda culpa, animi? Distinctio, aliquam corporis fugit nobis ea eum nulla labore tempora illo perspiciatis molestias, explicabo voluptas? Ad at autem saepe voluptatibus architecto, asperiores magni repellat eius sit ipsum soluta? Quod ratione consequuntur doloremque magnam veritatis sapiente corrupti? explicabo voluptas? Ad at autem saepe voluptatibus architecto, asperiores magni repellat eius sit ipsum soluta? Quod ratione consequuntur doloremque magnam veritatis sapiente corrupti.</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Our Mission</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam facilis quam consequuntur. Iusto similique ad dicta ratione accusamus ipsam quis natus enim. Exercitationem omnis, necessitatibus assumenda pariatur, quisquam, ut rerum beatae quod at eveniet quia eligendi. Molestias sint, alias aut, beatae dolorum saepe odio impedit omnis nam optio magni possimus.</p>
                            </div>
                            <div class="col-sm-6">
                                <h3>Our Vission</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus commodi quasi hic natus ab provident laboriosam officia. Mollitia recusandae, magnam quia cum repellendus vitae voluptatibus cumque inventore temporibus exercitationem necessitatibus quis, nostrum enim atque eius rem dolore nobis sunt est quaerat provident, saepe dolores iure. Impedit officia possimus ab architecto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- About Area End -->

    <!-- GoogleMap start -->
    <div class="googlemap-area">
        <div id="GoogleMap"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgL2HC9h1N9PdsAIe7BEcfUu9nGkITr3Q"></script>
        <script src="assets/js/map.js"></script>
    </div>
    <!-- GoogleMap end -->
    
    <!-- Footer Start -->
    <footer class="copysection">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                   &copy; copyrights  design &amp; develope <a href="#">Brightcarrier</a> 2017.
                </div>
                <div class="col-sm-5 text-right">
                    <div class="social-links">   
                        <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="" target="_blank"><i class="fa fa-skype"></i></a>
                        <a href="" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- ScrollToTop Start --> 
    <div class="scrolltotop">
        <a href="#"><i class="fa fa-angle-double-up"></i></a>
    </div> 
   <!-- ScrollToTop End --> 

    <!--Bootstrap JS-->
    <script src="assets/js/bootstrap.3.3.7.min.js"></script>
    <script src="assets/js/jquery.knob.js"></script>
    <script src="assets/js/knob.js"></script>
    <script src="assets/js/countdown.js"></script>
    <!--Active Custom JS-->
    <script src="assets/js/active.js"></script>
</body>

</html>