<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title here</title>
    <!--theme favicon-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Jquery -->
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    
    <div class="site-preloader-wrap">
        <div class="preloader-inner">
            <img src="assets/images/loader.gif" alt="loader">
        </div>
    </div>
            
    <!-- Header Start -->        
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="logo">
						<a href="#"><img src="assets/images/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-sm-6 text-right">
					<nav class="mainmenu">
						<ul>
							<li><a href="about-us.html">About Us</a></li>
							<span class="social-links">   
			                    <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
			                    <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
			                    <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
			                    <a href="" target="_blank"><i class="fa fa-skype"></i></a>
			                    <a href="" target="_blank"><i class="fa fa-pinterest"></i></a>
			                </span>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
    <!-- Header End -->       

    <!-- cs site wrapper Start -->       
    <section class="cs-site-wrapper">
        <div class="cs-site-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 text-center">
                        <div class="cs-text-wrap">
                            <h2>we are <span>comming soon</span> within this time.</h2>
                            <ul id="countdown">
                                <li>
                                    <span id="days-sub">days</span>
                                    <input class="knob" id="days" data-width="120" data-height="120" data-max="360" data-min="0" data-fgcolor="#ffffff" data-readonly="true" data-thickness="0.1" data-skin="tron">
                                </li>
                                <li>
                                    <span id="hours-sub">hours</span>
                                    <input class="knob" id="hours" data-width="120" data-height="120" data-max="24" data-min="0" data-fgcolor="#ffffff" data-readonly="true" data-thickness="0.1" data-skin="tron">
                                </li>
                                <li>
                                    <span id="hours-sub">minutes</span>
                                    <input class="knob" id="mins" data-width="120" data-height="120" data-max="60" data-min="0" data-fgcolor="#ffffff" data-readonly="true" data-thickness="0.1" data-skin="tron">
                                </li>
                                <li>
                                    <span id="secs-sub">seconds</span>
                                    <input class="knob" id="secs" data-width="120" data-height="120" data-max="60" data-min="0" data-fgcolor="#ffffff" data-readonly="true" data-thickness="0.1" data-skin="tron">
                                </li>
                            </ul>
                            <div class="subscriber-form">
                                <p>trust us we do not share your identity.</p>
                                <form action="index.html" method="post">
                                    <input type="email" name="email" placeholder="Email Address" required>
                                    <input type="submit" value="subscribe">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 text-right">
                        <div class="contact-form">
                            <h3 class="contact-heading">send a free quote</h3>
                            <form action="index.html" method="post">
                                <input type="text" name="name" placeholder="Name" required>
                                <input type="email" name="email" placeholder="Email" required>
                                <input type="text" name="subject" placeholder="Subject" required>
                                <p>
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
                                </p>
                                <input type="submit" value="Submit Now">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section> 
   <!-- cs site wrapper End -->      
 
    

    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.3.3.7.min.js"></script>
    <script src="assets/js/jquery.knob.js"></script>
    <script src="assets/js/knob.js"></script>
    <script src="assets/js/countdown.js"></script>
    <!--Active Custom JS-->
    <script src="assets/js/active.js"></script>
</body>

</html>