/*common typography*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
class,
id,
section,
aside,
article,
header,
footer,
p,
ul,
li {
    margin: 0;
    padding: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

html,
body,
.full-height {
    height: 100%;
}

body {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.fix {
    overflow: hidden;
}


/*--heading---*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding: 100px 0;
}

.section-padding-80 {
    padding: 80px 0;
}


/*===================================================*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    font-weight: 500;
}

/*TIMELINE STARTS*/

.timeline-wrapper,
.timelin-main,
.timelin-main li {
    position: relative;
}

.timelin-main {
    padding: 60px 0;
}


.timeline-wrapper:before,
.timeline-wrapper:after {
    z-index: 4;
}

/*main top circle*/
.timeline-wrapper:before {
    top: 0;
}

/*main bottom circle*/
.timeline-wrapper:after {
    bottom: 0;
}


/*main vertical line*/
.timelin-main:before {
    top: 0;
    bottom: 0;
    width: 5px;
    z-index: 3;
}


/*news post - left right left right*/
.timelin-main li div {
    width: 35%;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid rgb(9, 111, 183);
    background-color: rgb(25, 141, 224);
    position: relative;
    z-index: 9;
    box-shadow: 0px 0px 3px 0px rgb(46, 152, 228);
    color: white;
}

/*left*/
.timelin-main li:nth-child(odd) div {
    float: left;
}

/*right*/
.timelin-main li:nth-child(even) div {
    float: right;
}

.timelin-main li:nth-child(even) {
    margin-top: 100px;
}

/*clearing float*/
.timelin-main li:after {
    content: '';
    display: block;
    clear: both;
}


/*left news line*/
.timelin-main li:nth-child(odd) div:after {
    left: 100%;
    transform-origin: left center;
}

/*right news line*/
.timelin-main li:nth-child(even) div:after {
    right: 100%;
    transform-origin: right center;
}


/*horizontal line of news elements - depending on the li div width*/
.timelin-main li div:after {
    width: 44.5%;
    height: 5px;
}

/*color of lines and circles - combined */
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before,
.timelin-main li:before,
.timelin-main li div:after,
.timelin-main li div:before  {
    content: '';
    position: absolute;
    background-color: rgba(0, 144, 247, 1);
}

/*circle style*/
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main li:before,
.timelin-main li div:before  {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
}

/*make sure the main line and main circles remain horizontally centered*/
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before {
    left: 50%;
    transform: translateX(-50%);
}

/*make sure the other lines and other circles remain vertically centered*/
.timelin-main li div:after,
.timelin-main li div:before  {
    top: 50%;
    transform: translateY(-50%);
}

/*circles on the main line*/
.timelin-main li:before {
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    /*background-color: red; // check which one*/
}

.timelin-main li:nth-child(odd):before {
    margin-top: 23px;
}

.timelin-main li:nth-child(even):before {
    margin-top: -24px;
}

/*rotate the horizontal line*/
.timelin-main li div:after {
    transform: translateY(-50%) rotate(10deg);
}

/*circle new element*/
.timelin-main li div:before {
    right: 0;
    z-index: 3;
}

/*left news circle*/
.timelin-main li:nth-child(odd) div:before {
    right: -7px;
}

/*right news circl*/
.timelin-main li:nth-child(even) div:before {
    left: -7px;
}




@media screen and (max-width: 767px) {

    .timelin-main {
        padding: 75px 0;
    }
    .timelin-main li div {
        width: 100%;
        padding: 40px 10px;
        text-align: center;
        box-shadow: none;
    }
    .timelin-main li:before {
        top: 0;
        transform: translate(-50%, 0);
    }

    .timelin-main li:nth-child(odd):before,
    .timelin-main li:nth-child(even):before {
        margin-top: -7px;
    }

    .timelin-main li:nth-child(odd) div::before,
    .timelin-main li:nth-child(even) div::before {
        bottom: -8px;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        
    }
    .timelin-main li:nth-child(even) div::before {

    }
    .timelin-main li div::after {
        display: none;
    }

    .timelin-main li {
        margin: 65px 0;
    }
    .timelin-main li:nth-child(even) {
        margin-top: 0;
    }
    .timelin-main li:first-child {
        margin-top: 0;
    }
    .timelin-main li:last-child {
        margin-bottom: 0;
    }
}


.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main li:before,
.timelin-main li div:before {
    animation: scale 2s cubic-bezier(1, -0.25, 0.05, 1.67) infinite;
}

@keyframes scale {

    0% {
        box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
    }

    25% {
        box-shadow: 0px 0px 0px 3px rgba(0, 144, 247, .7);
    }
    50% {
        box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, .5);
    }

    75% {
        box-shadow: 0px 0px 0px 3px rgba(0, 144, 247, .3);
    }

    100% {
        box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
    }

    
}



















