h1 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    line-height: 30px;
}

.homepage-hero-area {
    background-image: url(../images/hero-bg-2.png);
    background-color: #3096f6;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

.boxed-btn {
    background-color: #06D6A0;
}

.testimonial-carousel .owl-dots div.active {
    background: #4085ED;
}

.mainmenu li a:hover,
.mainmenu li.active a {
    color: #06d6a0;
}

.homepage-hero-area {
    padding: 100px 0;
}

.homepage-hero-area h1 {
    color: #fff;
    font-size: 48px;
    line-height: 1.1;
    margin-top: 130px;
    font-weight: 400;
}

.service-pages {
    background: #06D6A0;
    padding: 15px 0;
    text-align: center;
}

.service-pages ul {
    list-style: none;
}

.service-pages li a {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 2;
}
.single-case-study {
	height: 300px;
}

.single-price-box:hover, .single-price-box:hover .pricing-heading {
	border-color: #06D6A0;
}
.price {
	color: #06D6A0;
}

.cta-area.theme-4, .cta-area.theme-5, .breadcamp-area {
	background-position: center top;
}