/*===============================
    desktop/leptop layout.
===============================*/

@media only screen and (min-width:991px) and (max-width:1199px) {
    .top-menu ul li a {
        font-size: 12px;
    }
    .login-form button[type="submit"] {
        right: 0;
    }
    .mainmenu li a {
        padding: 10px 12px;
    }
    .togle-sec ul li ul.togle-circle li {
        margin: 0 5px;
    }
    .togle-sec ul li ul.togle-circle {
        margin-left: 30px;
    }
    .currency {
        top: 12px;
        font-size: 45px;
    }
    .header-middle {
        width: auto;
    }

    .brand-list {
        margin-top: 10px;
    }
    .login-form {
        padding-right: 100px;
    }
}



/*==============================
    Tablet Layout
=============================*/

@media only screen and (min-width:768px) and (max-width:990px) {
    .top-menu ul li a {
        font-size: 10px;
        padding: 8px 12px;
    }
    .top-menu ul li a i.fa {
        padding-right: 3px;
        font-size: 13px;
    }
    .login-form {
        float: none;
        padding: 0 !important;
        width: 500px;
        display: block;
        margin: 0 auto;
    }
    .mainmenu li a {
        padding: 10px 7px;
        font-size: 12px;
    }

    .login-form button[type="submit"] {
        display: none;
    }
    .header-middle {
        width: auto;
    }
    .logo {
        text-align: center;
    }
    .toggle-title {
        margin-top: 10px;
    }
    .currency {
        font-size: 36px;
        top: 20px;
    }
    .brand-list a {
        width: 48%;
    }
    .brand-list {
        margin-top: 10px;
    }
}



/*===================================
    normal/small mobile layout.
===================================*/

@media only screen and (max-width:767px) {
    .top-menu ul li a {
        font-size: 10px;
        padding: 8px 12px;
        margin: 3px;
    }
    .top-menu ul li a i.fa {
        padding-right: 3px;
        font-size: 13px;
    }
    .login-form {
        float: none;
        padding: 0 !important;
        width: auto;
        display: block;
        margin: 0 auto;
    }
    .mainmenu li a {
        padding: 10px 7px;
        font-size: 12px;
    }

    .login-form button[type="submit"] {
        display: none;
    }
    .header-middle {
        width: auto;
    }
    .logo {
        text-align: center;
    }

    .single-slide-item {
        height: 250px;
    }
    .toggle-title {
        margin-top: 10px;
        font-size: 24px;
    }
    .currency {
        font-size: 36px;
    }
    .full-width-banner {
        height: 70px;
    }
    .brand-list a {
        width: 48%;
    }
    .boxed-btn {
        padding: 9px;
    }
    .togle-sec ul li ul.togle-circle li {
        margin: 0 5px;
    }
    .togle-sec ul li ul.togle-circle {
        margin-left: 15px;
    }
    .banner-list-wrap a {
        width: 100%;
    }
    .brand-list {
        margin-top: 10px;
    }
    .brand-list a {
        width: 45%;
    }

    .social-links {
        text-align: center;
    }
    .social-links .text-right {
        text-align: center;
    }
    .footer-area .text-right {
        text-align: center;
        margin-top: 10px;
    }
    .footer-area .text-right p {
        font-size: 14px;
    }

    .full-width-banner img {
        height: 70px;
    }
    .currency {
        font-size: 13px;
        right: 10px;
        margin-top: 23px;
    }

    .mainmenu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .slicknav_btn {
        background-color: #006494;
        float: none;
        display: inline-block;
    }
    .slicknav_menu {
        text-align: center;
    }
    .slicknav_nav a:hover {
        border-radius: 0;
        background: #00BDEE;
        color: #fff;
    }
    .slicknav_menu .slicknav_menutxt {
        text-shadow: 0 0 0;
    }
}



/*==============================
    wide mobile layout
================================*/

@media only screen and (min-width:480px) and (max-width:767px) {
    .banner-list-wrap a {
        width: 50%;
    }
    .currency {
        font-size: 24px;
        right: 20px;
        margin-top: 15px;
    }
}