
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">

    <title>html5 template || landing page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>
  
    <div class="mainsite-spinner-wrap">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
   
   <div id="home"></div>
    <div class="hero-area-wrap">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-left">
                        <div class="logo">
                            <h2><a href="index.html">rozyislam</a></h2>
                        </div>
                    </div>
                    <div class="col-md-10 text-right">
                        <div class="mainmenu">
                           <div class="navbar-header">
                                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                 </button>
                            </div>
                            
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active smooth-menu"><a href="#home">home</a></li>
                                    <li class="smooth-menu"><a href="#service">service</a></li>
                                    <li class="smooth-menu"><a href="#feature">feature</a></li>
                                    <li class="smooth-menu"><a href="#video">video demo</a></li>
                                    <li class="smooth-menu"><a href="#screenshot">screenshot</a></li>
                                    <li class="smooth-menu"><a href="#price">price</a></li>
                                    <li class="smooth-menu"><a href="#blog">blog</a></li>
                                    <li class="smooth-menu"><a href="#contact">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="homepage-hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="hero-text">
                            <h1>manage your task <br/> useing one app</h1>
                            <a href="#" class="boxed-btn">demo</a>
                            <a href="#" class="boxed-btn">purchase</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="assets/images/mobile-2.png" alt="mobile" class="mobile-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="service" class="section-padding bg1 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <h2>app <span>details</span></h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-service-box">
                        <div class="service-icon"><i class="fa fa-desktop"></i></div>
                        <h3>responsive design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem optio temporibus harum consequuntur?</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-box">
                        <div class="service-icon"><i class="fa fa-desktop"></i></div>
                        <h3>clean code</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem optio temporibus harum consequuntur?</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-box">
                        <div class="service-icon"><i class="fa fa-desktop"></i></div>
                        <h3>100+ icons</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem optio temporibus harum consequuntur?</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-box">
                        <div class="service-icon"><i class="fa fa-desktop"></i></div>
                        <h3>responsive design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem optio temporibus harum consequuntur?</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-box">
                        <div class="service-icon"><i class="fa fa-desktop"></i></div>
                        <h3>responsive design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem optio temporibus harum consequuntur??</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-box">
                        <div class="service-icon"><i class="fa fa-desktop"></i></div>
                        <h3>responsive design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem optio temporibus harum consequuntur?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title">
                        <h2>app <span>features</span></h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                         <div class="col-sm-12">
                            <div class="single-feature-item">
                                <i class="fa fa-mobile"></i>
                                <h3>full responsive</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitibus voluptatibus obcaecaticupiditate!</p>
                            </div>
                         </div>
                         <div class="col-sm-12">
                            <div class="single-feature-item">
                                <i class="fa fa-mobile"></i>
                                <h3>full responsive</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitibus voluptatibus obcaecaticupiditate!</p>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-image">
                        <img src="assets/images/clock.png" alt="clock">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="single-feature-item right-feature-item">
                                <i class="fa fa-mobile"></i>
                                <h3>full responsive</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitibus voluptatibus obcaecaticupiditate!</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="single-feature-item right-feature-item">
                                <i class="fa fa-mobile"></i>
                                <h3>full responsive</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitibus voluptatibus obcaecaticupiditate!</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div id="video" class="section-padding video-area-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                   <div class="video-content">
                       <h2>introducing app with video <span>Lorem ipsum dolor sit amet adipisicing elit.</span></h2>
                       <a href="https://www.youtube.com/watch?v=s9GM_EiDfjM" class="boxed-btn mfp-iframe"><i class="fa fa-play"></i></a>
                   </div>
                </div>
            </div>
        </div>
    </div> 
    
    <div id="screenshot" class="section-padding bg1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title">
                        <h2>app <span>screenshot</span></h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="screenshot-area-carousel">
                        <div class="single-screenshot">
                            <img src="assets/images/mobile-2.png" alt="screenshot mobile">
                        </div>
                        <div class="single-screenshot">
                            <img src="assets/images/mobile-image.png" alt="screenshot mobile">
                        </div>
                        <div class="single-screenshot">
                            <img src="assets/images/mobile.png" alt="screenshot mobile">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title">
                        <h2>app <span>preview</span></h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="testimonial-carousel">
                        <div class="single-testimonial-item">
                            <img src="assets/images/a1.jpg" alt="man">
                            <div class="textimonial-content">
                                <p><i class="fa fa-quote-right"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia similique tempore ad aut corporis earum assumenda, dolor expedita fugit animi saepe quis praesentium et obcaecati hic odit nemo, minus, nobis sunt temporaexcepturi.</p>
                                <h3>annah deynah<span>Founder of at ET Company</span></h3>
                                <div class="testimonial-feedback">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <img src="assets/images/a1.jpg" alt="man">
                            <div class="textimonial-content">
                                <p><i class="fa fa-quote-right"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia similique tempore ad aut corporis earum assumenda, dolor expedita fugit animi saepe quis praesentium et obcaecati hic odit nemo, minus, nobis sunt temporaexcepturi.</p>
                                <h3>rozy islam<span>web designer</span></h3>
                                <div class="testimonial-feedback">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <img src="assets/images/a1.jpg" alt="man">
                            <div class="textimonial-content">
                                <p><i class="fa fa-quote-right"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia similique tempore ad aut corporis earum assumenda, dolor expedita fugit animi saepe quis praesentium et obcaecati hic odit nemo, minus, nobis sunt temporaexcepturi.</p>
                                <h3>john dash gupta<span>Founder of at ET Company</span></h3>
                                <div class="testimonial-feedback">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="price" class="section-padding bg1 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <h2>app <span>prices</span></h2>
                        <p>all prices included in 14day free trail</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-price-box">
                        <h2 class="price">free</h2>
                        <div class="price-list">
                            <ul>
                                <li class="price-type">basic plan</li>
                                <li>5team member</li>
                                <li>10month supports</li>
                                <li>10pages</li>
                                <li>1 domain</li>
                                <li>25gb storage</li>
                            </ul>
                        </div>
                        <a href="#" class="bordered-btn">buy now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-price-box">
                        <h2 class="price">free</h2>
                        <div class="price-list">
                            <ul>
                                <li class="price-type">basic plan</li>
                                <li>5team member</li>
                                <li>10month supports</li>
                                <li>10pages</li>
                                <li>1 domain</li>
                                <li>25gb storage</li>
                            </ul>
                        </div>
                        <a href="#" class="bordered-btn">buy now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-price-box">
                        <h2 class="price">free</h2>
                        <div class="price-list">
                            <ul>
                                <li class="price-type">basic plan</li>
                                <li>5team member</li>
                                <li>10month supports</li>
                                <li>10pages</li>
                                <li>1 domain</li>
                                <li>25gb storage</li>
                            </ul>
                        </div>
                        <a href="#" class="bordered-btn">buy now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-price-box">
                        <h2 class="price">free</h2>
                        <div class="price-list">
                            <ul>
                                <li class="price-type">basic plan</li>
                                <li>5team member</li>
                                <li>10month supports</li>
                                <li>10pages</li>
                                <li>1 domain</li>
                                <li>25gb storage</li>
                            </ul>
                        </div>
                        <a href="#" class="bordered-btn">buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="blog" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title">
                        <h2>latest <span>blog</span></h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-blog-item">
                        <div class="blog-bg"></div>
                        <div class="blog-content">
                            <h6>may 30th 1017</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro earum tempora quod .</p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-blog-item">
                        <div class="blog-bg blog-bg-2"></div>
                        <div class="blog-content">
                            <h6>may 30th 1017</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro earum tempora quod .</p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-blog-item">
                        <div class="blog-bg blog-bg-3"></div>
                        <div class="blog-content">
                            <h6>may 30th 1017</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro earum tempora quod .</p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="contact" class="bg1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-bg">
                         <div class="row">
                             <div class="col-sm-7">
                                <div class="contact-form">
                                     <h3>contact us</h3>
                                     <form action="index.html">
                                         <div class="row">
                                             <div class="col-sm-12">
                                                 <input type="text" name="name" placeholder="Your Name">
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-sm-12">
                                                 <input type="email" name="email" placeholder="Your Mail">
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-sm-12">
                                                 <p><textarea name="message" id="message" cols="30" rows="10"></textarea></p>
                                             </div>
                                         </div>
                                         <button type="submit">send message</button>
                                     </form>
                                 </div>
                             </div>
                             <div class="col-sm-5">
                                 <div class="blue-address-box">
                                    <h3>address</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id a ea provident doloremque quisquam ipsum ducimus ad nisi dignissimos, officiis aperiam animi sed dolor fuga repellendus, quas corporis atque iste.</p>

                                    <div class="addess">
                                        <p class="contact-info"><i class="fa fa-phone"></i><a href="tel:8543542326789"></a>+087766745634</p>
                                        <p class="contact-info"><i class="fa fa-envelope"></i><a href="mailto:rswebsite@gmail.com"></a>rswebsite@gmail.com</p>
                                        <p class="contact-info"><i class="fa fa-map-marker"></i>28 road gajipur chowrasta<br/> 26/1 house building<br/>gajipur,dhaka,bangladesh</p>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="widget-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="section-title">
                        <h2>subscribe our <span>newsletter</span></h2>
                    </div>
                    <div class="newsletter-form">
                        <form action="index.html">
                            <input name="email" type="email" placeholder="Your Email Address">
                            <input name="submit" type="submit" value="subscribe">
                        </form>
                    </div>
                    <div class="social-link">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i> <span>facebook</span></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i> <span>twitter</span></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i> <span>linkedin</span></a>
                        <a href="#" target="_blank"><i class="fa fa-dribbble"></i> <span>dribbble</span></a>
                        <a href="#" target="_blank"><i class="fa fa-github"></i> <span>github</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copysection">
                        copysights &copy; all rights reserved by rozy islam
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
    <div class="scroll-to-top"><!--srolltotop-->
        <a href="#"><i class="fa fa-angle-double-up"></i></a>
    </div><!--srolltotop-->
   
    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.sticky.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/main.js"></script>



</body>

</html>