<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ROSE - Portfolio HTML Template</title>
    
    <!--theme favicon-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
    
    <!-- all css -->
    <!-- bootstrap css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- awesome css-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    
    <!-- magnificpopup css-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    
    <!-- carousel css-->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    
    <!-- animate css-->
    <link rel="stylesheet" href="assets/css/animate.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    
    <!-- user custom css -->
    <link rel="stylesheet" href="assets/css/custom.css">


</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <!-- site spinner start-->
    <div class="rose-spinner-wrap">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- site spinner end-->    
    
    <div class="preview-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="preview-text">
                        <h2>personal Portfolio minimal HTML5 template</h2>
                        <p>See all of theme demo here</p>
                        <a href="#">buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="index.html" class="preview-wrap" target="_blank">
                        <img src="assets/images/preview/pre-1.jpg" alt="preview 1">
                        <h3>homepage default</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="home-2.html" class="preview-wrap" target="_blank">
                        <img src="assets/images/preview/pre-2.jpg" alt="preview 2">
                        <h3>homepage particle</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="home-3.html" class="preview-wrap" target="_blank">
                        <img src="assets/images/preview/pre-3.jpg" alt="preview 3">
                        <h3>homepage slider</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="home-4.html" class="preview-wrap" target="_blank">
                        <img src="assets/images/preview/pre-4.jpg" alt="preview 4">
                        <h3>homepage full width</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="single-blog.html" class="preview-wrap" target="_blank">
                        <img src="assets/images/preview/pre-5.jpg" alt="preview 5">
                        <h3>single blog page</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="contact.html" class="preview-wrap" target="_blank">
                        <img src="assets/images/preview/pre-6.jpg" alt="preview 6">
                        <h3>quick contact page</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer area start-->  
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    &copy; copyright rose 2017 | all right reserved by <a href="" class="copy">brightcarrier.</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end--> 
  
    <!-- scroll top start-->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- scroll top end-->


   
    <!--all js script -->
    <!--jquery-->
    <script src="assets/js/jquery-1.11.2.min.js"></script>
    
    <!--bootstrap js-->
    <script src="assets/js/bootstrap.min.js"></script>
    
    <!-- typer js-->
    <script src="assets/js/jquery-typed.js"></script>
    
    <!-- magnificpopup js-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!-- counter js-->
    <script src="assets/js/waypoints-2.0.3.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    
    <!-- owl carousel js-->
    <script src="assets/js/owl.carousel.min.js"></script>
    
    <!-- isotope js-->
    <script src="assets/js/isotope-3.0.4.min.js"></script>
    
    <!-- sticky js-->
    <script src="assets/js/jquery.sticky.js"></script>
    
    <!-- easing js-->
    <script src="assets/js/jquery.easing.min.js"></script>
    
    <!-- wow js-->
    <script src="assets/js/wow-1.3.0.min.js"></script>
    
     <!-- scrolly parallax js-->
    <script src="assets/js/jquery.scrolly.js"></script>

    <!--active custom js-->
    <script src="assets/js/active.js"></script>

</body>

</html>