<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Traffic homepage one</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- plugin css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!-- custom css-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <!-- header start -->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="seo-analysis.html" class="boxed-btn">free seo analysis</a>
                </div>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- not-fount start -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="not-fount">
                        <h1>404</h1>
                        <p>this page not fount please back to home</p>
                        <a href="index.html">back home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- not-fount end -->

    <!--copysection 404 start-->
    <div class="copysection-404">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    &copy; Traffic 2017. All rights reserved . Powered By crazycafe.
                </div>
            </div>
        </div>
    </div>
    <!--copysection 404 end-->

    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgL2HC9h1N9PdsAIe7BEcfUu9nGkITr3Q&region=GB"></script>
    <script src="assets/js/gmap3.min.js"></script>
    <script src="assets/js/custom-gmap3.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>