<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>case study details Traffic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- plugin css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!-- custom css-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-2.css">
    <link rel="stylesheet" href="assets/css/style-3.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <!--header start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <div class="mainmenu">
                        <ul>
                            <li><a href="index.html">home</a>
                                <ul>
                                    <li><a href="index.html">homepage 1</a></li>
                                    <li><a href="home-2.html">homepage 2</a></li>
                                    <li><a href="home-3.html">homepage 3</a></li>
                                    <li><a href="home-4.html">homepage 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">feature</a></li>
                            <li class="mega-menu"><a href="">pages</a>
                                <ul>
                                    <li class="row">
                                        <div class="col-md-3">
                                            <h6>main page</h6>
                                            <ul>
                                                <li><a href="index.html">home</a></li>
                                                <li><a href="service-v1.html">services</a></li>
                                                <li><a href="case-study-v1.html">case studies</a></li>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="contact-us-v1.html">contact</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6>others page</h6>
                                            <ul>
                                                <li><a href="about-us.html">about us</a></li>
                                                <li><a href="pricing.html">pricing</a></li>
                                                <li><a href="team.html">team</a></li>
                                                <li><a href="faq.html">faq</a></li>
                                                <li><a href="contact-us-v2.html">quote</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>extra page</h6>
                                            <ul>
                                                <li><a href="case-study-details.html">casestudy details</a></li>
                                                <li><a href="service-details.html">service details</a></li>
                                                <li><a href="single-blog.html">single blog</a></li>
                                                <li><a href="seo-analysis.html">seo analysis</a></li>
                                                <li><a href="404.html">404 page</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="menu-cta">
                                                <h4>Traffic is a <span>awesome</span> template</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque, consequuntur totam!</p>
                                                <a href="#" class="boxed-btn">purchase now</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-1.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-2.jpg" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="service-v1.html">services</a>
                                <ul>
                                    <li><a href="service-v1.html">service 1</a></li>
                                    <li><a href="service-v2.html">service 2</a></li>
                                    <li><a href="service-details.html">service details</a></li>
                                </ul>
                            </li>
                            <li><a href="case-study-v1.html">case studies</a>
                                <ul>
                                    <li><a href="case-study-v1.html">case study 1</a></li>
                                    <li><a href="case-study-v2.html">case study 2</a></li>
                                    <li><a href="case-study-details.html">case study details</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">blog</a>
                                <ul>
                                    <li><a href="blog.html">blog page</a></li>
                                    <li><a href="single-blog.html">single blog page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us-v1.html">contact</a>
                                <ul>
                                    <li><a href="contact-us-v1.html">contact page 1</a></li>
                                    <li><a href="contact-us-v2.html">contact page 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <a href="seo-analysis.html" class="boxed-btn">free seo analysis</a>
                </div>
            </div>
        </div>
    </div>
    <!--header end-->

    <!--breadcrumb start-->
    <div class="breadcrumb-area breadcrumb-bg-6">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Promise Insurance Website Project</h1>
                    <p>everyday work is important but time consuming.We can help.</p>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumb end-->

    <!--about us start-->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/website-2.jpg" alt="website" class="shadow-image">
                </div>
                <div class="col-md-6">
                    <div class="pdt-80">
                        <div class="about-us padding-left-30">
                            <h3>Promise Insurance Website Case Study</h3>
                            <p>As a better-safe-than-sorry precaution, the spacecraft was pointed with its big radio bfacing forward, like a shield. Not only was there nothing cat astrophic, there was hardlyanything at all. The few clicking sounds were generated by dust the size of cigarette smoke particles about a micron, or one-25,000th of an inch, in diameter. To be clear Cassini did not actually hear.</p>
                            <div style="height:30px;"></div>
                            <p> The few clicking sounds were generated by dust the size of cigarette smoke particles about a micron, or one-25,000th of an inch, in diameter. To be clear Cassini did not actually hear.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--about us end-->

    <!--about us start-->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pdt-30">
                    <div class="about-us">
                        <h4>Marketing &amp; loyalty tools</h4>
                        <p>As a better-safe-than-sorry precaution, the spacecraft was pointed with its big radiofacing forward, like a shield. Not only was there nothing catastrophic, there was hardly anything at all. The few clicking sounds were generated by dust the size of cigarette smoke particles about a micron, or one-25,000th of an inch, in diameter. To be clear Cassini did not actually hear.</p>

                        <div style="height:20px;"></div>

                        <h4>Point of Sale</h4>
                        <p>As a better-safe-than-sorry precaution, the spacecraft was pointed with its big radio facing forward, like a shield. Not only was there nothing catastrophic, there was hardly anything at all. The few clicking sounds were generated by dust the size of cigar ettesmoke particles about a micron, or one-25,000th of an inch, in diameter. To be clear Cassini did not actually hear</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="shadow-image" src="assets/images/website-3.jpg" alt="website">
            </div>
        </div>
    </div>
    <!--about us end-->

    <!--testimonial start-->
    <div class="section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="testimonial-carousel">
                        <div class="single-testimonial-item">
                            <p class="testimonial-content"> easy to use. We have been looking for an intuitive tool like this for a while and this is just what we needed. </p>
                            <div class="testimonial-meta">
                                <img src="assets/images/gravatar.jpg" alt="gravatar">
                                <h4>Mark McClendon <span>Partner & Executive Director, VML</span></h4>
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <p class="testimonial-content"> easy to use. We have been looking for an intuitive tool like this for a while and this is just what we needed. </p>
                            <div class="testimonial-meta">
                                <img src="assets/images/gravatar.jpg" alt="gravatar">
                                <h4>Mark McClendon <span>Partner & Executive Director, VML</span></h4>
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <p class="testimonial-content"> easy to use. We have been looking for an intuitive tool like this for a while and this is just what we needed. </p>
                            <div class="testimonial-meta">
                                <img src="assets/images/gravatar.jpg" alt="gravatar">
                                <h4>Mark McClendon <span>Partner & Executive Director, VML</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--testimonial end-->

    <!--call ro action start-->
    <div class="cta-area theme-4 cta-bg-7 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Create your own markeitng website</h1>
                    <p>Writers and stars of Veep have responded incredulously to the news an Australian politician required stitches Graham Perrett, a federal Labor MP in Queensland, was eating </p>
                    <a href="#" class="boxed-btn">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--call ro action end-->

    <!--footer start-->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Product</h4>
                            <ul>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Page Builder</a></li>
                                <li><a href="#">What's new</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>What's new</h4>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">try demo</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Page Builder</a></li>
                                <li><a href="#">privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Help Center</h4>
                            <ul>
                                <li><a href="#">Help centre</a></li>
                                <li><a href="#">email us</a></li>
                                <li><a href="#">message us</a></li>
                                <li><a href="#">blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Sign Up to Our Weekly Newslater</h4>
                    <div class="newsletter-form">
                        <form action="index.html">
                            <input type="email" placeholder="Email Address" required>
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i> twitter</a>
                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i>Linkdin</a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->

    <!--copysection start-->
    <div class="copysection">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    &copy; Traffic 2017. All rights reserved . Powered By crazycafe.
                </div>
            </div>
        </div>
    </div>
    <!--copysection end-->


    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgL2HC9h1N9PdsAIe7BEcfUu9nGkITr3Q&region=GB"></script>
    <script src="assets/js/gmap3.min.js"></script>
    <script src="assets/js/custom-gmap3.js"></script>
    <script src="assets/js/main.js"></script>



</body>

</html>