<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FaQ Traffic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- plugin css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!-- custom css-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-2.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <!--header start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <div class="mainmenu">
                        <ul>
                            <li><a href="index.html">home</a>
                                <ul>
                                    <li><a href="index.html">homepage 1</a></li>
                                    <li><a href="home-2.html">homepage 2</a></li>
                                    <li><a href="home-3.html">homepage 3</a></li>
                                    <li><a href="home-4.html">homepage 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">feature</a></li>
                            <li class="mega-menu"><a href="">pages</a>
                                <ul>
                                    <li class="row">
                                        <div class="col-md-3">
                                            <h6>main page</h6>
                                            <ul>
                                                <li><a href="index.html">home</a></li>
                                                <li><a href="service-v1.html">services</a></li>
                                                <li><a href="case-study-v1.html">case studies</a></li>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="contact-us-v1.html">contact</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6>others page</h6>
                                            <ul>
                                                <li><a href="about-us.html">about us</a></li>
                                                <li><a href="pricing.html">pricing</a></li>
                                                <li><a href="team.html">team</a></li>
                                                <li><a href="faq.html">faq</a></li>
                                                <li><a href="contact-us-v2.html">quote</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>extra page</h6>
                                            <ul>
                                                <li><a href="case-study-details.html">casestudy details</a></li>
                                                <li><a href="service-details.html">service details</a></li>
                                                <li><a href="single-blog.html">single blog</a></li>
                                                <li><a href="seo-analysis.html">seo analysis</a></li>
                                                <li><a href="404.html">404 page</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="menu-cta">
                                                <h4>Traffic is a <span>awesome</span> template</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque, consequuntur totam!</p>
                                                <a href="#" class="boxed-btn">purchase now</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-1.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-2.jpg" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="service-v1.html">services</a>
                                <ul>
                                    <li><a href="service-v1.html">service 1</a></li>
                                    <li><a href="service-v2.html">service 2</a></li>
                                    <li><a href="service-details.html">service details</a></li>
                                </ul>
                            </li>
                            <li><a href="case-study-v1.html">case studies</a>
                                <ul>
                                    <li><a href="case-study-v1.html">case study 1</a></li>
                                    <li><a href="case-study-v2.html">case study 2</a></li>
                                    <li><a href="case-study-details.html">case study details</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">blog</a>
                                <ul>
                                    <li><a href="blog.html">blog page</a></li>
                                    <li><a href="single-blog.html">single blog page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us-v1.html">contact</a>
                                <ul>
                                    <li><a href="contact-us-v1.html">contact page 1</a></li>
                                    <li><a href="contact-us-v2.html">contact page 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <a href="seo-analysis.html" class="boxed-btn">free seo analysis</a>
                </div>
            </div>
        </div>
    </div>
    <!--header end-->

    <!--breadcrumb start-->
    <div class="breadcrumb-area breadcrumb-bg-9">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Frequently Asked Questions</h1>
                    <p>Everyday work is important but time consuming.We can help.</p>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumb end-->

    <!--faq start-->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="traffic-faq">
                        <h3>General Questions</h3>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        The New Threat to Wolves in and Around Yellowstone ?
                                       </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                       enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Hunting Mushrooms, and What Makes Some Glow in the Dark ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero suscipit, aliquid voluptate corrupti praesentium, non unde voluptates accusantium excepturi consectetur, nulla delectus maxime placeat, aliquam. Magni ratione explicabo vitae eligendi doloremque! Consequuntur asperiores nam quasi expedita, dignissimos saepe totam omnis?
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        6 Bots That Deliver Science and Serendipity on Twitter ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Humans Lived in North America 130,000 Years Ago, Study Claims ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                     single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Broke a Glass? Someday You Might 3-D-Print a New One ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                         consectetur adipisicing elit. Officiis vero modi, voluptatum pariatur consequatur. Voluptates sed dignissimos quis distinctio ullam vitae quam minima suscipit veritatis consectetur illum commodi doloremque vero iusto aperiam maiores quisquam harum vel eos, alias quas dolorum quae voluptatem id. Tempore impedit quidem magnam sint nemo repudiandae.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                         As Arctic Ice Vanishes, New Shipping Routes Open ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Foesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSaven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSaven" aria-expanded="false" aria-controls="collapseSaven">
                                         How Marching for Science Risks Politicizing It ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSaven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSaven">
                                    <div class="panel-body">
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="traffic-faq">
                        <h3>Most Asked Questions</h3>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                        Zika Twins: A Window Into Much More Than a Virus ?
                                       </a>
                                    </h4>
                                </div>
                                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                                    <div class="panel-body">
                                       enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        Empirical Evidence: Cats Love People ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero suscipit, aliquid voluptate corrupti praesentium, non unde voluptates accusantium excepturi consectetur, nulla delectus maxime placeat, aliquam. Magni ratione explicabo vitae eligendi doloremque! Consequuntur asperiores nam quasi expedita, dignissimos saepe totam omnis?
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                        6 Bots That Deliver Science and Serendipity on Twitter ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree3">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                                        The Making of a Legacy: First Steps in the Trump Era ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour4">
                                    <div class="panel-body">
                                     single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
                                        Broke a Glass? Someday You Might 3-D-Print a New One ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive5">
                                    <div class="panel-body">
                                         consectetur adipisicing elit. Officiis vero modi, voluptatum pariatur consequatur. Voluptates sed dignissimos quis distinctio ullam vitae quam minima suscipit veritatis consectetur illum commodi doloremque vero iusto aperiam maiores quisquam harum vel eos, alias quas dolorum quae voluptatem id. Tempore impedit quidem magnam sint nemo repudiandae.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix6">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix6" aria-expanded="false" aria-controls="collapseSix6">
                                         As Arctic Ice Vanishes, New Shipping Routes Open ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix6">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Foesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSaven7">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSaven7" aria-expanded="false" aria-controls="collapseSaven7">
                                        Sowing Climate Doubt Among Schoolteachers ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSaven7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSaven7">
                                    <div class="panel-body">
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--faq end-->

    <!--call to action start-->
    <div class="cta-area theme-4 cta-bg-7 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Create your own markeitng website</h1>
                    <p>Writers and stars of Veep have responded incredulously to the news an Australian politician required stitches Graham Perrett, a federal Labor MP in Queensland, was eating </p>
                    <a href="#" class="boxed-btn">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--call to action end -->

    <!--footer start-->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Product</h4>
                            <ul>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Page Builder</a></li>
                                <li><a href="#">What's new</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>What's new</h4>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">try demo</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Page Builder</a></li>
                                <li><a href="#">privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Help Center</h4>
                            <ul>
                                <li><a href="#">Help centre</a></li>
                                <li><a href="#">email us</a></li>
                                <li><a href="#">message us</a></li>
                                <li><a href="#">blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Sign Up to Our Weekly Newslater</h4>
                    <div class="newsletter-form">
                        <form action="index.html">
                            <input type="email" placeholder="Email Address" required>
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i> twitter</a>
                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i>Linkdin</a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->

    <!--copysection start-->
    <div class="copysection">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    &copy; Traffic 2017. All rights reserved . Powered By crazycafe.
                </div>
            </div>
        </div>
    </div>
    <!--copysection end-->


    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/main.js"></script>


</body>

</html>