<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Homepage Three Traffic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- plugin css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!-- custom css-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-2.css">
    <link rel="stylesheet" href="assets/css/style-3.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <!-- header start -->
    <div class="header-area header-absolute">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-10 text-right">
                    <div class="mainmenu">
                        <ul>
                            <li><a href="index.html">home</a>
                                <ul>
                                    <li><a href="index.html">homepage 1</a></li>
                                    <li><a href="home-2.html">homepage 2</a></li>
                                    <li><a href="home-3.html">homepage 3</a></li>
                                    <li><a href="home-4.html">homepage 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">feature</a></li>
                            <li class="mega-menu"><a href="">pages</a>
                                <ul>
                                    <li class="row">
                                        <div class="col-md-3">
                                            <h6>main page</h6>
                                            <ul>
                                                <li><a href="index.html">home</a></li>
                                                <li><a href="service-v1.html">services</a></li>
                                                <li><a href="case-study-v1.html">case studies</a></li>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="contact-us-v1.html">contact</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6>others page</h6>
                                            <ul>
                                                <li><a href="about-us.html">about us</a></li>
                                                <li><a href="pricing.html">pricing</a></li>
                                                <li><a href="team.html">team</a></li>
                                                <li><a href="faq.html">faq</a></li>
                                                <li><a href="contact-us-v2.html">quote</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>extra page</h6>
                                            <ul>
                                                <li><a href="case-study-details.html">casestudy details</a></li>
                                                <li><a href="service-details.html">service details</a></li>
                                                <li><a href="single-blog.html">single blog</a></li>
                                                <li><a href="seo-analysis.html">seo analysis</a></li>
                                                <li><a href="404.html">404 page</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="menu-cta">
                                                <h4>Traffic is a <span>awesome</span> template</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque, consequuntur totam!</p>
                                                <a href="#" class="boxed-btn">purchase now</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-1.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-2.jpg" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="service-v1.html">services</a>
                                <ul>
                                    <li><a href="service-v1.html">service 1</a></li>
                                    <li><a href="service-v2.html">service 2</a></li>
                                    <li><a href="service-details.html">service details</a></li>
                                </ul>
                            </li>
                            <li><a href="case-study-v1.html">case studies</a>
                                <ul>
                                    <li><a href="case-study-v1.html">case study 1</a></li>
                                    <li><a href="case-study-v2.html">case study 2</a></li>
                                    <li><a href="case-study-details.html">case study details</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">blog</a>
                                <ul>
                                    <li><a href="blog.html">blog page</a></li>
                                    <li><a href="single-blog.html">single blog page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us-v1.html">contact</a>
                                <ul>
                                    <li><a href="contact-us-v1.html">contact page 1</a></li>
                                    <li><a href="contact-us-v2.html">contact page 2</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="search-trigger">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- slider start -->
    <div class="homepage-slides">
        <div class="homepage-slide-item slide-bg-1">
            <div class="slide-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Don't build links Build relationships.</h1>
                            <p>Traffic is a great platform to stand out your website. process-centric proper communities without quality products. So try now administrate state of the art e-services whereas an expanded array of internal or "organic" sources. </p>
                            <div class="video-play-wrap">
                                <a href="https://www.youtube.com/watch?v=s9GM_EiDfjM" class="paly-btn mfp-iframe"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-slide-item slide-bg-2">
            <div class="slide-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Don't build links Build relationships.</h1>
                            <p>Traffic is a great platform to stand out your website. process-centric proper communities without quality products. So try now administrate state of the art e-services whereas an expanded array of internal or "organic" sources. </p>
                            <div class="video-play-wrap">
                                <a href="#" class="paly-btn"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-slide-item slide-bg-3">
            <div class="slide-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Don't build links Build relationships.</h1>
                            <p>Traffic is a great platform to stand out your website. process-centric proper communities without quality products. So try now administrate state of the art e-services whereas an expanded array of internal or "organic" sources. </p>
                            <div class="video-play-wrap">
                                <a href="#" class="paly-btn"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider end -->

    <!-- checker form start -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title">
                        <h3>Get Free SEO Analysis</h3>
                        <P>Check your website ranking and turn your business with us</P>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="website-checker-form">
                        <form action="home-3.html">
                            <input type="url" placeholder="Your website link" required>
                            <input type="text" placeholder="Keyword" required>
                            <input type="email" placeholder="Your Email" required>
                            <input type="submit" value="Check Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checker form end -->

    <!-- about us start -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about-graph.png" alt="people">
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="pdt-50">
                    <div class="about-us">
                        <h3>Welcome to the world's biggest digital agency</h3>
                        <p>I take great pride in owning a company that has received the level of success accolades that have been bestowed upon WebiMax.grow tactical strategic them areas with customer directed ideas. Distinctively productivate Distinctively productivate.</p>
                        <a href="#" class="boxed-btn">About Traffic</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about us end -->

    <!-- Services start -->
    <div class="section-padding theme-2">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <h3>Our Services</h3>
                        <p>Conveniently whiteboard ubiquitous niche markets and accurate collaboration.Holisticly supply client-focused models B2B processes. </p>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="single-service-box">
                        <div class="service-icon">
                            <span class="service-number">01</span>
                        </div>
                        <h4>Online Marketing</h4>
                        <p>impact scalab niche markets rather than collabora Interactively optimize fully tested data with Dramatically grow enterprise-wide</p>
                        <a href="#" class="read-more-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service-box">
                        <div class="service-icon">
                            <span class="service-number">02</span>
                        </div>
                        <h4>Marketing Research</h4>
                        <p>Professionally pontificate B2B innovation via low-risk high-yield information. Interactively reconceptualize flexible leadership skills </p>
                        <a href="#" class="read-more-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service-box">
                        <div class="service-icon">
                            <span class="service-number">03</span>
                        </div>
                        <h4>Content Submission</h4>
                        <p>Interactively architect frictionless action items with extensive expertise. Phosfluorescently develop user friendly meta-services.</p>
                        <a href="#" class="read-more-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services end -->
    <!-- Case Study start -->
    <div class="section-padding npt text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <h3>Case Study</h3>
                        <p>Conveniently whiteboard ubiquitous niche markets and accurate collaboration.Holisticly supply client-focused models B2B processes. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="case-studies-wrap theme-2">
            <div class="single-case-study-item case-study-bg-1">
                <div class="case-study-hover">
                    <h4>Project Amenia</h4>
                    <p>Design</p>
                    <a href="#" class="case-study-more"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="single-case-study-item case-study-bg-2">
                <div class="case-study-hover">
                    <h4>Project Amenia</h4>
                    <p>Design</p>
                    <a href="#" class="case-study-more"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="single-case-study-item case-study-bg-3">
                <div class="case-study-hover">
                    <h4>Project Amenia</h4>
                    <p>Design</p>
                    <a href="#" class="case-study-more"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="single-case-study-item case-study-bg-4">
                <div class="case-study-hover">
                    <h4>Project Amenia</h4>
                    <p>Design</p>
                    <a href="#" class="case-study-more"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="single-case-study-item case-study-bg-5">
                <div class="case-study-hover">
                    <h4>Project Amenia</h4>
                    <p>Design</p>
                    <a href="#" class="case-study-more"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Case Study end -->

    <!-- Blog start -->
    <div class="theme-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title">
                        <h3>Our Blog</h3>
                        <p>Conveniently whiteboard ubiquitous niche markets and accurate collaboration.Holisticly supply client-focused models B2B processes. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="single-blog-box">
                        <div class="blog-bg-item blog-bg-1"></div>
                        <div class="blog-meta">15 May, 2017 , 9:07 am</div>
                        <h4>Customize high-payoff channels with tactical niches.</h4>
                        <P>Compellingly morph superior intellectual capital high standards in platforms. innovate vertical leadership skills through next. </P>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="single-blog-box">
                        <div class="blog-bg-item blog-bg-2"></div>
                        <div class="blog-meta">25 May, 2017 , 9:07 am</div>
                        <h4>High-impact systems apidiously integrate vertical e-business.</h4>
                        <P>Intrinsicly build principle-centered value without in intuitive web services. Compellingly myocardinate inexpensive e-commerce </P>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="single-blog-box">
                        <div class="blog-bg-item blog-bg-3"></div>
                        <div class="blog-meta">30 May, 2017 , 9:07 am</div>
                        <h4>Intrinsicly synergize orthogon idea sharing before magnetic.</h4>
                        <P>Holisticly communicate vertical web services via market-driven technologies. Monotonectally incent tactical "outside the box".</P>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog end -->

    <div style="height:85px;"></div>

    <!-- call to action start -->
    <div class="cta-area theme-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Ready to Build your own marketing site? </h2>
                    <P>Tell us about your project and your choice we will work for you.</P>
                    <a href="#" class="boxed-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- call to action end -->
    <!-- footer start -->
    <div class="footer-area-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                </div>
                <div class="col-md-6 text-center">
                    <ul>
                        <li class="active"><a href="#">Services</a></li>
                        <li><a href="#"> Case Studies</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-right">
                    <div class="social-links-2">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->

    <!-- copysection start -->
    <div class="copysection-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; Traffic 2017. All rights reserved . Powered By crazycafe.
                </div>
                <div class="col-md-6 text-right">
                    <ul>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privancy Policy </a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copysection end -->

    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/main.js"></script>



</body>

</html>