<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Pricing Traffic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- plugin css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!-- custom css-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-2.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <!--header start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <div class="mainmenu">
                        <ul>
                            <li><a href="index.html">home</a>
                                <ul>
                                    <li><a href="index.html">homepage 1</a></li>
                                    <li><a href="home-2.html">homepage 2</a></li>
                                    <li><a href="home-3.html">homepage 3</a></li>
                                    <li><a href="home-4.html">homepage 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">feature</a></li>
                            <li class="mega-menu"><a href="">pages</a>
                                <ul>
                                    <li class="row">
                                        <div class="col-md-3">
                                            <h6>main page</h6>
                                            <ul>
                                                <li><a href="index.html">home</a></li>
                                                <li><a href="service-v1.html">services</a></li>
                                                <li><a href="case-study-v1.html">case studies</a></li>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="contact-us-v1.html">contact</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6>others page</h6>
                                            <ul>
                                                <li><a href="about-us.html">about us</a></li>
                                                <li><a href="pricing.html">pricing</a></li>
                                                <li><a href="team.html">team</a></li>
                                                <li><a href="faq.html">faq</a></li>
                                                <li><a href="contact-us-v2.html">quote</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>extra page</h6>
                                            <ul>
                                                <li><a href="case-study-details.html">casestudy details</a></li>
                                                <li><a href="service-details.html">service details</a></li>
                                                <li><a href="single-blog.html">single blog</a></li>
                                                <li><a href="seo-analysis.html">seo analysis</a></li>
                                                <li><a href="404.html">404 page</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="menu-cta">
                                                <h4>Traffic is a <span>awesome</span> template</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque, consequuntur totam!</p>
                                                <a href="#" class="boxed-btn">purchase now</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-1.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="assets/images/blog-bg-2.jpg" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="service-v1.html">services</a>
                                <ul>
                                    <li><a href="service-v1.html">service 1</a></li>
                                    <li><a href="service-v2.html">service 2</a></li>
                                    <li><a href="service-details.html">service details</a></li>
                                </ul>
                            </li>
                            <li><a href="case-study-v1.html">case studies</a>
                                <ul>
                                    <li><a href="case-study-v1.html">case study 1</a></li>
                                    <li><a href="case-study-v2.html">case study 2</a></li>
                                    <li><a href="case-study-details.html">case study details</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">blog</a>
                                <ul>
                                    <li><a href="blog.html">blog page</a></li>
                                    <li><a href="single-blog.html">single blog page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us-v1.html">contact</a>
                                <ul>
                                    <li><a href="contact-us-v1.html">contact page 1</a></li>
                                    <li><a href="contact-us-v2.html">contact page 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <a href="seo-analysis.html" class="boxed-btn">free seo analysis</a>
                </div>
            </div>
        </div>
    </div>
    <!--header end-->

    <!--breadcrumb start-->
    <div class="breadcrumb-area breadcrumb-bg-12">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Pricing Plans</h1>
                    <p>everyday work is important but time consuming.We can help.</p>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumb end-->

    <!--feature section start-->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/website.jpg" alt="website" class="shadow-image">
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="feature-title">
                        <h2>Our Key Features</h2>
                        <p>Latest air pollution crisis would also remind the public that while industrial smog remained a pressing issue.</p>
                    </div>

                    <div class="single-feature-item">
                        <div class="feature-icon">
                            <img src="assets/images/feature-icon.png" alt="feature icon">
                        </div>
                        <h4>Unique &amp; Creative Design</h4>
                        <p>Writers and stars of Veep have responded incredulously to the new Australian politician required stitches after knocking himself uncon while laughing at the new season. </p>
                    </div>
                    <div class="single-feature-item">
                        <div class="feature-icon">
                            <img src="assets/images/feature-icon-2.png" alt="feature icon">
                        </div>
                        <h4>Targeted Niche</h4>
                        <p>Writers and stars of Veep have responded incredulously to the new Australian politician required stitches after knocking himself uncon while laughing at the new season. </p>
                    </div>
                    <div class="single-feature-item">
                        <div class="feature-icon">
                            <i class="fa fa-bath"></i>
                        </div>
                        <h4>Secure Support</h4>
                        <p>Writers and stars of Veep have responded incredulously to the new Australian politician required stitches after knocking himself uncon while laughing at the new season. </p>
                    </div>
                    <div class="single-feature-item">
                        <div class="feature-icon">
                            <img src="assets/images/feature-icon.png" alt="feature icon">
                        </div>
                        <h4>Easy to Customise</h4>
                        <p>Writers and stars of Veep have responded incredulously to the new Australian politician required stitches after knocking himself uncon while laughing at the new season. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--feature section end-->

    <!--pricing start-->
    <div class="section-padding theme-2 npt text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <h2>Check Our Awesome Pricing</h2>
                        <p>Whiteboard ubiquitous niche markets and accurate collaboration.Holisticly supply client-focused models B2B processes. .</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="single-pricing-box">
                        <div class="pricing-heading">
                            <h4>Basic</h4>
                            <p class="price">$29.99 <span>per month</span></p>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>Limited marketing &amp; growth hacks</li>
                                <li>5 Analytics Campaigns</li>
                                <li>300 Keywords</li>
                                <li>250,000 Crawled Pages</li>
                                <li>Unlimited updates</li>
                            </ul>
                            <a href="#" class="boxed-btn">Purchase Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing-box">
                        <div class="pricing-heading">
                            <h4>pro</h4>
                            <p class="price">$69.99 <span>per month</span></p>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>Limited marketing &amp; growth hacks</li>
                                <li>5 Analytics Campaigns</li>
                                <li>300 Keywords</li>
                                <li>250,000 Crawled Pages</li>
                                <li>Unlimited updates</li>
                            </ul>
                            <a href="#" class="boxed-btn">Purchase Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing-box">
                        <div class="pricing-heading">
                            <h4>advance</h4>
                            <p class="price">$199.99 <span>per month</span></p>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>Limited marketing &amp; growth hacks</li>
                                <li>5 Analytics Campaigns</li>
                                <li>300 Keywords</li>
                                <li>250,000 Crawled Pages</li>
                                <li>Unlimited updates</li>
                            </ul>
                            <a href="#" class="boxed-btn">Purchase Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--pricing end-->

    <!--call to action start-->
    <div class="cta-area theme-4 cta-bg-8 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Create your own markeitng website</h1>
                    <p>Writers and stars of Veep have responded incredulously to the news an Australian politician required stitches Graham Perrett, a federal Labor MP in Queensland, was eating </p>
                    <a href="#" class="boxed-btn">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--call to action end-->

    <!--footer start-->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Product</h4>
                            <ul>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Page Builder</a></li>
                                <li><a href="#">What's new</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>What's new</h4>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">try demo</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Page Builder</a></li>
                                <li><a href="#">privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Help Center</h4>
                            <ul>
                                <li><a href="#">Help centre</a></li>
                                <li><a href="#">email us</a></li>
                                <li><a href="#">message us</a></li>
                                <li><a href="#">blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Sign Up to Our Weekly Newslater</h4>
                    <div class="newsletter-form">
                        <form action="index.html">
                            <input type="email" placeholder="Email Address" required>
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i> twitter</a>
                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i>Linkdin</a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->

    <!--copysection start-->
    <div class="copysection">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    &copy; Traffic 2017. All rights reserved . Powered By crazycafe.
                </div>
            </div>
        </div>
    </div>
    <!--copysection end-->


    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgL2HC9h1N9PdsAIe7BEcfUu9nGkITr3Q&region=GB"></script>
    <script src="assets/js/gmap3.min.js"></script>
    <script src="assets/js/custom-gmap3.js"></script>
    <script src="assets/js/main.js"></script>


</body>

</html>