<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="RAYAN - Personal Portfolio HTML5 Template">
    <meta name="keywords" content="brigthcarrier, new, html, onepage, portfolio, personal, modern rayan, design, creative">
    <!-- responsive viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Web Site Title -->
    <title>RAYAN - Personal Portfolio HTML5 Template</title>

    <!--Theme Favicon-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Owlcarousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- Magnificpop CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- ColorNip CSS -->
    <link rel="stylesheet" href="css/colornip.min.css">
    <link id="theme" rel="stylesheet" href="css/themes/theme-yellow.css">

    <!-- Jquery -->
    <script src="js/jquery-1.12.0.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- preloader start 
    <div class="site-spinner-wrap">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
  <!-- preloader end -->

    <!-- color Switcher start -->
    <div class="Switcher">
        <button id="Switcher__control" class="Switcher__control"></button>
        <h5 style="margin-bottom: 15px">Change Theme Color</h5>
        <ul id="colors" data-dir="css/themes/">
            <li class="active" data-scheme="theme-yellow" data-color="#FAC803"></li>
            <li data-scheme="theme-orange" data-color="#ffa500"></li>
            <li data-scheme="theme-pink" data-color="#ff69b4"></li>
            <li data-scheme="theme-green" data-color="#0BF80B"></li>
            <li data-scheme="theme-blue" data-color="#5c5cf4"></li>
            <li data-scheme="theme-red" data-color="#E74C3C"></li>
            <li data-scheme="theme-aqua" data-color="#00ffff"></li>
            <li data-scheme="theme-yellowgreen" data-color="#c0f456"></li>
        </ul>
    </div>
   <!-- color Switcher end -->

    <div id="home"></div>

    <!-- header area start  -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="index-3.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-9 text-right">
                    <nav class="mainmenu">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active smooth-scroll"><a href="#home">Home</a></li>
                                <li class="smooth-scroll"><a href="#about">About</a></li>
                                <li class="smooth-scroll"><a href="#services">Services</a></li>
                                <li class="smooth-scroll"><a href="#portfolio">Portfolio</a></li>
                                <li class="smooth-scroll"><a href="#team">team</a></li>
                                <li class="smooth-scroll"><a href="#testimonial">testimonial</a></li>
                                <li class="smooth-scroll"><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- header area start -->

    <!-- kenburnsy bg start -->
    <div id="kenburnsy-bg">
        <img src="images/slide-bg-1.jpg" alt="Background-1">
        <img src="images/slide-bg-2.jpg" alt="Background-2">
        <img src="images/slide-bg-3.jpg" alt="Background-3">
    </div>
    <!-- kenburnsy bg end -->

   <!-- hero area start -->
    <section class="slider-wrap">
        <div id="particles-js"></div>
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="slide-text">
                            <div class="social-links">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <h1>I'm jhon smith</h1>
                            <div class="animated-text">
                                <span id="typed"></span>
                                <div id="typed-strings">
                                    <p>web designer.</p>
                                    <p>wordpress developer.</p>
                                    <p>professional freelancer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#about" class="home-arrow smooth-scroll"><i class="fa fa-angle-double-down"></i></a>
    </section>
    <!-- hero area end -->
    <!--about section start -->
    <section class="section-padding fix" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title about-after">
                        <h2>About us</h2>
                        <div class="section-style"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolore placeat veniam totam illo doloremque animi velit.</p>
                    </div>
                </div>
            </div>
            <!--about section start -->
            <div class="row">
                <div class=" col-md-5 col-sm-12">
                    <div class="author-image">
                        <img src="images/author.jpg" alt="Author">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="author-info">
                        <h3>i'm jhon deo profession <br> <span>web designer & developer</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ex cumque ullam magnam, consequatur excepturi laudantium harum at dolorum, nisi recusandae, omnis laboriosam, nostrum maiores! Qui quasi, officia amet fuga sapiente quibusdam deserunt nostrum illum pariatur numquam quae illo, et unde non excepturi consequatur ullam, nihil odit assumenda alias! Vel itaque maxime.</p>
                        <p> I am rajonno rose Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum ipsum quae labore, numquam excepturi quo placeat repellat magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit Voluptatibus tempore.</p>
                        <a href="#" class="boxed-btn"> Download CV <i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 skillbar-area">
                    <div class="row">
                        <!-- skillbar start -->
                        <div class="col-md-5 skill-area">
                            <div class="single-bar-item">
                                <span class="skillbar-title">html5/css3</span>
                                <span class="skill-bar-percent">98%</span>
                                <div class="skillbar" data-percent="98%">
                                    <div class="skillbar-bar first-skill"></div>
                                </div>
                            </div>
                            <div class="single-bar-item">
                                <span class="skillbar-title">jquery/javascript</span>
                                <span class="skill-bar-percent">85%</span>
                                <div class="skillbar" data-percent="85%">
                                    <div class="skillbar-bar second-skill"></div>
                                </div>
                            </div>
                            <div class="single-bar-item">
                                <span class="skillbar-title">wordpress</span>
                                <span class="skill-bar-percent">90%</span>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-bar third-skill"></div>
                                </div>
                            </div>
                            <div class="single-bar-item">
                                <span class="skillbar-title">digital marketing</span>
                                <span class="skill-bar-percent">92%</span>
                                <div class="skillbar" data-percent="92%">
                                    <div class="skillbar-bar third-skill"></div>
                                </div>
                            </div>
                            <div class="single-bar-item">
                                <span class="skillbar-title">seo</span>
                                <span class="skill-bar-percent">95%</span>
                                <div class="skillbar" data-percent="95%">
                                    <div class="skillbar-bar third-skill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- skillbar end -->

                        <!-- faq start -->
                        <div class="col-md-7">
                            <div class="Traffic-faq">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" id="headingOne">
                                            <h3 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Lorem ipsum dolor sit amet?
                                                  <i class="fa fa-sort-desc"></i>
                                                  <i class="fa fa-sort-asc"></i>
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure hic doloremque labore voluptatem incidunt, nostrum assumenda? Illo, itaque suscipit minima! Voluptatem expedita quis.high life accusamus terry richardson ad squid.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" id="headingTwo">
                                            <h3 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  client faq box?
                                                  <i class="fa fa-sort-desc"></i>
                                                  <i class="fa fa-sort-asc"></i>
                                                </a>
                                          </h3>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" id="headingThree">
                                            <h3 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                  client faq box?
                                                  <i class="fa fa-sort-desc"></i>
                                                  <i class="fa fa-sort-asc"></i>
                                                </a>
                                          </h3>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- faq end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about section end -->

    <!--services section start -->
    <section id="services" class="section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title service-after">
                        <h2>our service</h2>
                        <div class="section-style"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ipsam dolores, veritatis sunt cumque eaque.</p>
                    </div>
                </div>
            </div>
            <div class="row only-mobile-width">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h4>web design</h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <i class="fa fa-wordpress"></i>
                                </div>
                                <h4>web development</h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <h4>graphic design</h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <i class="fa fa-bar-chart"></i>
                                </div>
                                <h4>business consult</h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <h4>data analysis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <h4>ecommerce support</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services section end -->

    <!-- client section start -->
    <section class="happy-client-area section-padding text-center fixed-parallax">
        <div class="container">
            <div class="row only-mobile-width">
                <div class="col-md-3 col-sm-6">
                    <div class="single-cl-item">
                        <div class="cl-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <span class="counter">150</span>
                        <h4>happy clients</h4>
                    </div>
                </div>
                <div class="col-md-3  col-sm-6">
                    <div class="single-cl-item">
                        <div class="cl-icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <span class="counter">1150</span>
                        <h4>complete project</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-cl-item">
                        <div class="cl-icon">
                            <i class="fa fa-coffee"></i>
                        </div>
                        <span class="counter">150</span>
                        <h4>Cup of coffee</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-cl-item">
                        <div class="cl-icon">
                            <i class="fa fa-cab"></i>
                        </div>
                        <span class="counter">100</span>
                        <h4>running project</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client section end -->

    <!-- portfolio section start -->
    <section class="section-padding grey-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title portfolio-after">
                        <h2>recent work</h2>
                        <div class="section-style"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum aliquam, corporis quo eveniet magni veritatis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="portfolio-titles">
                        <li class="active" data-filter="*">All work</li>
                        <li data-filter=".web-design">web design</li>
                        <li data-filter=".development">development</li>
                        <li data-filter=".seo">seo</li>
                        <li data-filter=".marketing">marketing</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-projects text-center">
                <div class="col-md-4 col-sm-6 col-xs-12 web-design seo">
                    <div class="single-portfolio-item portfolio-bg-1">
                        <div class="portfolio-hover">
                            <a href="images/p1.jpg" class="preview-icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <p>seo/marketing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 development marketing">
                    <div class="single-portfolio-item portfolio-bg-2">
                        <div class="portfolio-hover">
                            <a href="images/p2.jpg" class="preview-icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <p>development</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 web-design seo">
                    <div class="single-portfolio-item portfolio-bg-3">
                        <div class="portfolio-hover">
                            <a href="images/p3.jpg" class="preview-icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <p>branding</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 development marketing">
                    <div class="single-portfolio-item portfolio-bg-4">
                        <div class="portfolio-hover">
                            <a href="images/p4.jpg" class="preview-icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <p>development</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 web-design seo ">
                    <div class="single-portfolio-item portfolio-bg-5">
                        <div class="portfolio-hover">
                            <a href="images/p5.jpg" class="preview-icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <p>branding</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 development marketing">
                    <div class="single-portfolio-item portfolio-bg-6">
                        <div class="portfolio-hover">
                            <a href="images/p6.jpg" class="preview-icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <p>illustration</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio section end -->

    <!-- Call to action section start -->
    <section class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>have a need service?</h2>
                </div>
                <div class="col-sm-3 text-right">
                    <a href="#contact" class="boxed-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section start -->

    <!-- team section start -->
    <section id="team" class="team-area section-padding fix text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title team-after">
                        <h2>our team member</h2>
                        <div class="section-style"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi temporibus labore, quaerat delectus, ab dignissimos.</p>
                    </div>
                </div>
            </div>
            <div class="row only-mobile-width">
                <div class="col-md-3 col-sm-6">
                    <div class="single-team-member">
                        <div class="team-img">
                            <img src="images/team-1.jpg" alt="">
                        </div>
                        <h4 class="team-title">rasel ahmed <span>CEO, & Founder RRF</span></h4>
                        <div class="social-links">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-team-member">
                        <div class="team-img">
                            <img src="images/team-2.jpg" alt="">
                        </div>
                        <h4 class="team-title">rajonno rose <span>Web Design Expert</span></h4>
                        <div class="social-links">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-team-member">
                        <div class="team-img">
                            <img src="images/team-3.jpg" alt="">
                        </div>
                        <h4 class="team-title">md nurullah <span>Web Developer</span></h4>
                        <div class="social-links">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-team-member">
                        <div class="team-img">
                            <img src="images/team-4.jpg" alt="">
                        </div>
                        <h4 class="team-title">jhon Deosy <span>Product Maneger</span></h4>
                        <div class="social-links">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- team section end -->

    <!-- testimonial section start -->
    <section id="testimonial" class="section-padding fix fixed-parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="testimonial-list">
                        <div class="single-testimonial-item">
                            <div class="testimonial-meta">
                                <img src="images/t1.jpg" alt="client">
                                <h3>jhon deo <span>CEO,of Brightcarrier</span></h3>
                            </div>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nemo aperiam odit, molestiae sapiente, corporis vel fugiat. Architecto dolore reprehenderit delectus modi doloremque voluptatibus numquam consectetur suscipit rem earum ex laudantium placeat a, cum illo animi, quibusdam aspernatur dolorem similique.</p>
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <div class="testimonial-meta">
                                <img src="images/t2.jpg" alt="client">
                                <h3>allex mith <span>web developer</span></h3>
                            </div>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nemo aperiam odit, molestiae sapiente, corporis vel fugiat. Architecto dolore reprehenderit delectus modi doloremque voluptatibus numquam consectetur suscipit rem earum ex laudantium placeat a, cum illo animi, quibusdam aspernatur dolorem similique.</p>
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <div class="testimonial-meta">
                                <img src="images/t3.jpg" alt="client">
                                <h3>jhon deo <span>CEO,of Brightcarrier</span></h3>
                            </div>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nemo aperiam odit, molestiae sapiente, corporis vel fugiat. Architecto dolore reprehenderit delectus modi doloremque voluptatibus numquam consectetur suscipit rem earum ex laudantium placeat a, cum illo animi, quibusdam aspernatur dolorem similique.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section end -->
    <!-- blog section start -->
    <section id="#blog" class="blog-area section-padding fix">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="section-title blog-after">
                        <h2>latest news</h2>
                        <div class="section-style"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque suscipit, dicta, sunt enim laudantium nisi.</p>
                    </div>
                </div>
            </div>
            <div class="row only-mobile-width">
                <div class="col-md-4">
                    <div class="single-blog-item">
                        <div class="blog-bg blog-bg-1"></div>
                        <div class="date-meta">
                            <i class="fa fa-bookmark"></i>
                            <p>20 Apr <span>2017</span></p>
                        </div>
                        <div class="blog-content">
                            <h3>Lorem ipsum dolor.</h3>
                            <span class="admin-meta"><i class="fa fa-user"></i> posted by <a href="#">admin</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, omnis natus, et dicta recusandae.</p>
                            <a href="single-blog.html" class="read-more-btn">read more <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-item">
                        <div class="blog-bg blog-bg-2"></div>
                        <div class="date-meta">
                            <i class="fa fa-bookmark"></i>
                            <p>20 Apr <span>2017</span></p>
                        </div>
                        <div class="blog-content">
                            <h3>Lorem ipsum dolor.</h3>
                            <span class="admin-meta"><i class="fa fa-user"></i> posted by <a href="#">admin</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, omnis natus, et dicta recusandae.</p>
                            <a href="single-blog.html" class="read-more-btn">read more <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-item">
                        <div class="blog-bg blog-bg-3"></div>
                        <div class="date-meta">
                            <i class="fa fa-bookmark"></i>
                            <p>20 Apr <span>2017</span></p>
                        </div>
                        <div class="blog-content">
                            <h3>Lorem ipsum dolor.</h3>
                            <span class="admin-meta"><i class="fa fa-user"></i> posted by <a href="#">admin</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, omnis natus, et dicta recusandae.</p>
                            <a href="single-blog.html" class="read-more-btn">read more <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog section end -->

    <!-- contact section start -->
    <section class="contact-area section-padding fixed-parallax" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="contact-form">
                        <h2>quote form</h2>
                        <div class="section-style"></div>
                        <form action="https://formspree.io/rrrozyislam@gmail.com" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" placeholder="Your Name" required>
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Your Email Address" required>
                                <label for="subject">Subject</label>
                                <input type="text" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="col-md-6">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="Write Message" required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit">send message <i class="fa fa-send-o"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->

    <!-- GoogleMap start -->
    <div class="googlemap-area">
        <div id="GoogleMap"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgL2HC9h1N9PdsAIe7BEcfUu9nGkITr3Q"></script>
        <script src="js/map.js"></script>
    </div>
    <!-- GoogleMap end -->
    
    <!-- scrolltotop start -->
    <div class="scroll-to-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- scrolltotop end -->

    <!-- copysection start -->
    <footer class="copysection text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    &copy; all right reserved 2017  <span>| |</span> designed and developed by <a href="https://themeforest.net/user/brightcarrier">brightcarrier</a>.
                </div>
            </div>
        </div>
    </footer>
    <!-- copysection end -->

    <!--Bootstrap JS-->
    <script src="js/bootstrap.3.3.7.min.js"></script>
    <!--Owlcarousel JS-->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Waypoint JS-->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Filerize JS-->
    <script src="js/jquery.filerize.min.js"></script>
    <!--Isotope JS-->
    <script src="js/isotope.min.js"></script>
    <!--Typed JS-->
    <script src="js/jquery.typed.js"></script>
    <script>
    var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 20,
        backSpeed: 50,
        smartBackspace: true,
        loop: true
    });
    </script>
    <!--Counterup JS-->
    <script src="js/jquery.counterup.min.js"></script>
    <!--Magnificpop JS-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!--Sticky JS-->
    <script src="js/jquery.sticky.js"></script>
    <!--Easing JS-->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Kenburncy JS -->
    <script src="js/jquery.velocity.min.js"></script>
    <script src="js/jquery.kenburnsy.min.js"></script>
    <!-- Particle JS-->
    <script src="js/particle.js"></script>
    <script src="js/app.js"></script>
    <!--Colornip JS-->
    <script src="js/colornip.min.js"></script>
    <!--Active JS-->
    <script src="js/active.js"></script>

</body>

</html>