/*common typography*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
class,
id,
section,
aside,
article,
header,
footer,
p,
ul,
li {
    margin: 0;
    padding: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}


html,
body,
.full-height {
    height: 100%;
}

body {
  color: #676666;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}


a,
a:hover,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.fix {
    overflow: hidden;
}


/*--heading---*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-weight: 700;
}
h2{
    font-size: 35px;
    margin: 0 0 30px;
}
h3{font-size: 25px;}
h4{font-size: 20px;}
img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding: 120px 0;
}
.section-padding-80 {
    padding: 80px 0;
}


/*===================================================*/
.homepage-hero-area{background-image: url(../images/hero-bg.jpg)}
.about-bg{background-image: url(../images/about.jpg)}
.count-area{background-image: url(../images/count-bg.jpg)}
.portfolio-bg-1{background-image: url(../images/porfolio-bg-1.jpg)}
.portfolio-bg-2{background-image: url(../images/porfolio-bg-2.jpg)}
.portfolio-bg-3{background-image: url(../images/porfolio-bg-3.jpg)}
.testimonial-area{background-image: url(../images/testimonial-bg.jpg)}
.logo-area{background-image: url(../images/brand-logo-bg.jpg)}
.blog-bg-1{background-image: url(../images/blog-bg-1.jpg)}
.blog-bg-2{background-image: url(../images/blog-bg-2.jpg)}
.blog-bg-1{background-image: url(../images/blog-bg-1.jpg)}


.logo a {
    color: #fff;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}
.logo img {
    left: 0;
    max-height: 40px;
    position: absolute;
    top: -1px;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
    display: inline-block;
    position: relative;
}
.mainmenu li a {
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 0 8px 30px;
    text-transform: uppercase;
}
.header-area {
    left: 0;
    padding: 30px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.logo {
    padding-left: 45px;
    padding-top: 2px;
    position: relative;
}
.homepage-hero-area {
    height: 100%;
}
.homepage-hero-area {
    display: table;
    position: relative;
    width: 100%;
    z-index: 1;
}
.homepage-hero-area::after {
    background: #714fda none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.93;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.homepage-hero-inner {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.hero-text h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 55px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.hero-text ul {
    font-size: 15px;
    font-weight: 400;
    list-style: outside none none;
    text-transform: uppercase;
}
.hero-text li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
.hero-text li::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    right: -3px;
    top: 15px;
    width: 5px;
}
.hero-text li:last-child::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.boxed-btn {
  background: #7556d7 none repeat scroll 0 0;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 15px 30px;
  text-transform: uppercase;
}
.hero-text .boxed-btn {
  background: #fff none repeat scroll 0 0;
  color: #7556d7;
  margin-top: 50px;
}
.social-links {
    bottom: 50px;
    position: absolute;
    right: 7%;
}
.social-links a {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}


/*=====================
about section
======================*/


.section-title > h2 {
    color: #273f59;
    margin: 0 0 30px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.section-title > h2::before, .section-title > h2::after {
    background: #7f56fd none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -37.5px;
    position: absolute;
    width: 75px;
}
.section-title > h2::after {
    bottom: -6px;
    margin-left: -20px;
    width: 40px;
}
.section-title {
    margin-bottom: 75px;
}

.about-bg {
    background-color: #ddd;
    background-position: center top;
    background-size: cover;
    border-radius: 5px;
    height: 450px;
    position: relative;
    width: 100%;
}
.about-bg::after {
    border: 8px solid #7f56fd;
    border-radius: 5px;
    content: "";
    height: 100%;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: -1;
}
.about-text {
    margin-top: 60px;
}
.about-info ul {
    list-style: outside none none;
    padding-top: 50px;
}
.about-info li {
    display: inline-block;
    width: 40%;
}
.about-info {
    border-top: 1px dashed #c1c1c1;
    margin-top: 30px;
}
.btn-group {
    margin-top: 50px;
}
.btn-group a {
    margin-right: 12px;
    padding: 8px 30px;
}

/*=====================
    MY SKILL section
======================*/


.bg-1 {
    background-color: #7857f7;
    color: #eaeaea;
}
.bg-1 .section-title h2 {
    color: #fff;
}
.bg-1 .section-title > h2::before, .bg-1 .section-title > h2::after {
    background: #fff none repeat scroll 0 0;
}
.single-sk-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    padding: 30px;
}
.single-sk-box > img {
    box-shadow: 0 0 20px #ccc;
    max-width: 60px;
}
.single-sk-box > h4 {
    color: #273f59;
    font-size: 15px;
    margin: 15px 0 30px;
    text-transform: uppercase;
}
.single-sk-box .percentCount {
  display: none;
}
.sk-progess .progressbar {
    margin: 0;
}




.single-service-item {
    box-shadow: 0 0 10px #efefef;
    padding: 20px;
}
.service-icon {
    background: #7f56fd none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 37px;
    margin: 15px auto 0;
    position: relative;
    width: 40px;
    z-index: 1;
}
.service-icon::before, .service-icon::after {
    background: #b09cee none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 50px;
    left: 0;
    margin: -5px;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: -1;
}
.service-icon::after {
    height: 60px;
    margin: -10px;
    opacity: 0.4;
    width: 60px;
}
.single-service-item > h3 {
    margin: 30px;
}
.count-area {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.count-area::after {
    background: #7f56fd none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-count-box {
    padding-left: 65px;
    position: relative;
}
.count-icon {
    font-size: 70px;
    left: 0;
    position: absolute;
    top: -2px;
}
.counter {
    font-size: 40px;
    font-weight: 700;
}
.single-count-box > h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0 0;
}
.portfolio-title {
    list-style: outside none none;
    margin: 0 0 50px;
}
.portfolio-title li {
    border: 1px solid #79888f;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin: 0 5px;
    padding: 8px 35px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.portfolio-title > li.active {
  background: #7f56fd none repeat scroll 0 0;
  border: 1px solid #7f56fd;
  color: #fff;
}
.portfolio-title > li:hover {
  background: #7F56FD;
  color: #fff;
  border: 1px solid #7F56FD;
}
.single-portfolio-item {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 500px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.single-portfolio-item::after {
    background: #7b54f4 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.portfolio-hover i.fa {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #8761fd;
    font-size: 18px;
    height: 50px;
    left: 50%;
    line-height: 49px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.portfolio-hover > h4 {
    bottom: 0;
    color: #fff;
    font-weight: 500;
    left: 0;
    margin-bottom: 10%;
    margin-left: 10%;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    width: 80%;
}
.portfolio-hover > h4 span {
    display: block;
    font-size: 65%;
    font-weight: 400;
    padding-top: 12px;
}
.portfolio-hover {
    opacity: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
.single-portfolio-item:hover::after {
    opacity: 0.95;
    visibility: visible;
}
.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
}
.testimonial-area {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    color: #ddd8ec;
    padding: 50px 0;
    position: relative;
    z-index: 1;
}
.testimonial-area::after {
    background: #7f56fd none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.testimonial-author img {
    border-radius: 50%;
    height: 120px;
    margin-bottom: 15px;
    width: 120px;
}
.testimonial-carousel.owl-carousel .owl-item img {
  display: inline-block;
  margin: 0 auto 15px;
  width: auto;
}
.testimonial-author > h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.testimonial-author > h3 span {
    color: #ddd8ec;
    display: block;
    font-size: 65%;
    padding-top: 7px;
}
.testimonial-content {
    margin: 40px 0 0;
}
.testimonial-feedback {
    color: #fff;
    margin-top: 35px;
    margin-bottom: 30px;
}
.testimonial-carousel .owl-dots div {
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    height: 5px;
    margin: 5px;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.testimonial-carousel .owl-dots div.active {
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
}
.testimonial-carousel .owl-dots {
    bottom: -40px;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
}




.single-team-member {
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}
.single-team-member > img {
    border-radius: 10px 10px 0 0;
    height: 300px;
    width: 100%;
}
.team-member-info {
    padding: 20px;
}
.team-member-info > h4 {
    color: #2b425c;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
.team-member-info > h4 span {
    display: block;
    font-size: 70%;
    font-weight: 400;
    padding-top: 10px;
}

.single-progress .percentCount {
    color: #2a445f;
    font-weight: 400;
    position: absolute;
    right: 15px;
    top: -45px;
}
.single-progress {
    position: relative;
}
.single-progress h5 {
    color: #373b3f;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 12px;
    text-align: left;
}
.single-progress .proggress {
    position: relative;
    z-index: 1;
}
.single-progress .proggress::before {
  background: #7f56fd none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 12px;
  position: absolute;
  right: -1px;
  top: -3px;
  width: 12px;
}
.single-progress .proggress::after {
  border: 2px solid #7f56fd;
  border-radius: 50%;
  content: "";
  height: 20px;
  position: absolute;
  right: -5px;
  top: -7px;
  width: 20px;
}
.single-team-member > h4 {
    color: #273f59;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 20px;
}
.single-team-member > h4 span {
    display: block;
    font-size: 75%;
    font-weight: 400;
    padding-top: 8px;
}
.team-social-links {
    border-top: 1px solid #f6f7f8;
    text-align: left;
}
.single-team-member-special {
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
}
.single-team-member-special > h4 {
    color: #273f59;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 40px;
}
.single-team-member-special > h4 span {
    display: block;
    font-size: 80%;
    font-weight: 400;
    padding-top: 8px;
}
.team-social-links > a {
  color: #78909c;
  display: inline-block;
  margin: 20px 5px 5px;
}
.logo-area {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}
.logo-area::after {
    background: #7f56fd none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.client-logo-wrap {
    overflow: hidden;
}
.single-logo {
    float: left;
    text-align: center;
    width: 20%;
}
.single-logo img {
    max-width: 90px;
}
.single-blog-box {
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    display: block;
}
.blog-bg {
    border-radius: 10px 10px 0 0;
    height: 210px;
}
.blog-content {
    color: #9a9a9a;
    padding: 20px;
}
.blog-content .blog-meta a {
  color: #6B7B8C;
}
.blog-meta > span {
    color: #3d526a;
    margin-left: 40px;
}

.blog-content > h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
    text-transform: uppercase;
}
.blog-content a {
    color: #A78FFE;
    padding-left: 5px;
    text-transform: uppercase;
}
.footer-widget-area {
    background: #263238 none repeat scroll 0 0;
    padding: 50px 0;
}
.footer-widget-area, .footer-widget-area a {
    color: #fff;
}
.footer-widget-area h2 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.contact-info {
    list-style: outside none none;
    margin-bottom: 40px;
    margin-top: 40px;
}
.contact-info li {
    color: #7d8386;
    display: inline-block;
    margin: 0 30px;
}
.contact-info a {
    color: #7d8386;
}
.contact-info i.fa {
    padding-right: 10px;
}
.widget-social-links {
    border-top: 1px solid #3a454b;
    padding-top: 40px;
}
.widget-social-links a {
    font-size: 18px;
    margin: 0 15px;
}
.copysec {
    margin-top: 10px;
}
/*=======================
hover effect
========================*/


.mainmenu li a {
    transition: all 0.3s ease 0s;
}
.mainmenu li a:hover, .mainmenu li.active a {
    color: #ffac1b;
}
.boxed-btn:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ffac1b;
    color: #ffac1b;
}
.boxed-btn {
    border: 1px solid transparent;
}
.social-links a {
    transition: all 0.3s ease 0s;
}
.social-links a:hover {
    color: #ffac1b;
}
.logo:hover a {
    color: #ffac1b;
}
.logo img:hover {
    opacity: 0.7;
}
.logo > a {
    transition: all 0.3s ease 0s;
}
.logo img {
    transition: all 0.3s ease 0s;
}
.team-social-links > a {
    transition: all 0.3s ease 0s;
}
.team-social-links > a:hover {
    color: #ffac1b;
}
.blog-content a:hover {
    opacity: 0.7;
}
.blog-meta > a {
    transition: all 0.3s ease 0s;
}
.contact-info a {
    transition: all 0.3s ease 0s;
}
.contact-info a:hover {
    color: #ffac1b;
}
.widget-social-links > a {
    transition: all 0.3s ease 0s;
}
.widget-social-links > a:hover {
    color: #ffac1b;
}
