/* base css*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
}

a,
a:hover,
a:focus,
a:active {
    outline: 0 solid;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.fix {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 25px;
    line-height: 1;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

input:focus,
textarea:focus,
a:focus,
button:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden;
}

.section-padding {
    padding: 100px 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.spacer-5 {
    height: 5px;
}

.spacer-10 {
    height: 10px;
}

.spacer-15 {
    height: 15px;
}

.spacer-20 {
    height: 20px;
}

.spacer-25 {
    height: 25px;
}

.spacer-30 {
    height: 30px;
}

.spacer-40 {
    height: 40px;
}

.spacer-50 {
    height: 50px;
}

.spacer-60 {
    height: 60px;
}

.spacer-70 {
    height: 70px;
}

.spacer-80 {
    height: 80px;
}

.spacer-90 {
    height: 90px;
}





/*****************************
header area css
******************************/

.header-top {
    background: #0B0B0B;
}

.header-top,
.header-top a {
    color: #f5f3f3;
}

.header-top i.fa {
    color: #FC721E;
    padding-right: 3px;
}

.header-top i.fa-phone {
    padding-left: 30px;
}

.sicial-links a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 8px;
    -webkit-transition: .3s;
    transition: .3s;
}

.sicial-links i.fa {
    color: #f5f3f3;
    padding-right: 0;
}

.sicial-links {
    margin-left: 20px;
}

.sicial-links a:hover {
    background: #FC721E;
    border-color: #FC721E;
}

.header-top {
    padding: 13px 0;
}

.logo h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid;
    display: inline-block;
    padding: 13px 20px;
}

.logo a {
    color: #0b0b0b;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    font-weight: 800;
    color: #0b0b0b;
    padding: 6px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    border: 1px solid transparent;
}

.mainmenu li:hover>a,
.mainmenu li.active a {
    border-color: #FC721E;
}

.mainmenu {
    padding: 5px 0;
}

.header-area {
    padding: 18px 0;
}






/* slide area*/

.slide-bg-1 {
    background-image: url(../images/slide-bg-1.jpg);
}

.slide-bg-2 {
    background-image: url(../images/slide-bg-2.jpg);
}

.slide-bg-3 {
    background-image: url(../images/slide-bg-3.jpg);
}

.single-slide-item {
    width: 100%;
    background-color: #000;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 16px;
    height: 700px;
}

.slide-text h1 {
    font-size: 60px;
    line-height: 70px;
}

.single-slide-item .d-table-cell {
    vertical-align: middle;
    width: 100%;
    background: rgba(5, 5, 5, 0.8);
}

.boxed-btn {
    display: inline-block;
    background: #FC721E;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 3px;
    margin-right: 12px;
    border: 1px solid #FC721E;
}

.boxed-btn.bordered-btn {
    background: transparent;
    border-color: #fff;
}

.slide-btns {
    margin-top: 30px;
}

.homepage-slides .owl-dots button {
    height: 25px;
    width: 3px;
    background: #fff;
    margin-right: 10px;
    transition: .3s;
    -webkit-transition: .3s;
}

.homepage-slides .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 10%;
    width: 80%;
}

.homepage-slides .owl-dots button.active {
    height: 32px;
    background-color: #FC721E;
}





/*service arae*/

.service-bg-1 {
    background-image: url(../images/service-bg-1.jpg);
}

.service-bg-2 {
    background-image: url(../images/service-bg-2.jpg);
}

.service-bg-3 {
    background-image: url(../images/service-bg-3.jpg);
}

.single-service-box {
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
}

.service-bg {
    background-color: #ddd;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.service-title {
    margin: 0;
    position: absolute;
    top: 175px;
    background: #FC721E;
    color: #fff;
    width: 80%;
    left: 10%;
    padding: 15px;
    font-size: 20px;
    text-transform: capitalize;
}

.service-content {
    border: 1px solid #DFDEDE;
    padding: 15px;
    padding-top: 50px;
}

.read-more-btn {
    color: #333;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 16px;
    transition: .3s;
    -webkit-transition: .3s;
    margin-top: 5px;
    display: inline-block;
}

.read-more-btn i.fa {
    padding-left: 5px;
}

.read-more-btn:hover {
    color: #FC721E;
}

.single-service-box:hover {
    box-shadow: 0 0 15px #D7D7D7;
}






/*about area css*/

.section-grey {
    background: #F4F4F4;
}

.border-img img {
    min-height: 430px;
}

.border-img {
    position: relative;
}

.border-img:before,
.border-img:after {
    position: absolute;
    left: 0;
    top: 15%;
    width: 3px;
    height: 70%;
    content: "";
    background: #FC721E;
}

.border-img:after {
    left: auto;
    right: 0;
}

.about-text {
    padding: 20px 0 0 20px;
}

.about-text h4 {
    font-size: 20px;
}



/*cta area css*/

.cta-area {
    background: #FC721E;
    padding: 60px 0;
}

.cta-area h3 {
    margin: 14px 0;
    color: #fff;
    font-size: 20px;
}

.cta-area .inline-btn {
    background: #fff;
    color: #1c1c1c;
    font-weight: 600;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 3px;
}




/*project css*/

.project-bg-1 {
    background-image: url(../images/project-bg-1.jpg);
}

.project-bg-2 {
    background-image: url(../images/project-bg-2.jpg);
}

.project-bg-3 {
    background-image: url(../images/project-bg-3.jpg);
}

.project-bg-4 {
    background-image: url(../images/project-bg-4.jpg);
}


.single-project-item {
    position: relative;
    padding-left: 260px;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.col-lg-6:nth-child(3) .single-project-item,
.col-lg-6:nth-child(4) .single-project-item {
    margin-bottom: 0;
}

.project-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    background-color: #FC721E;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.project-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: .2s;
    transition: .2s;
}

.single-project-item h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-project-item .read-more-btn {
    font-size: 15px;
}


.single-project-item:hover .project-bg:after {
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    visibility: visible;
}

.single-project-item:hover h3,
.single-project-item:hover .read-more-btn {
    color: #FC721E;
}



/*Team CSS*/

.team-thumb-1 {
    background-image: url(../images/team-1.jpg);
}

.team-thumb-2 {
    background-image: url(../images/team-2.jpg);
}

.team-thumb-3 {
    background-image: url(../images/team-3.jpg);
}

.team-thumb-4 {
    background-image: url(../images/team-4.jpg);
}

.team-thumb {
    background-size: cover;
    background-color: #ddd;
    height: 300px;
    width: 100%;
    background-position: center top;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}

.team-info {
    border: 1px solid #EEEDED;
    padding: 20px;
}

.team-thumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #FC721E;
    z-index: -1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: .2s;
    transition: .2s;
}

.team-info h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.social-links a {
    display: inline-block;
    color: #000;
    width: 35px;
    height: 35px;
    border: 1px solid;
    line-height: 32px;
    margin: 0 3px;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 16px;
}

.social-links {
    margin-top: 20px;
}

.social-links a:hover {
    color: #FC721E;
}

.single-team-member:hover .team-thumb:after {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    visibility: visible;
}




/*logo carousel css*/

.logo-carousel-wrap {
    width: 100%;
    height: 120px;
}

.logo-carousel-inner {
    vertical-align: middle;
}

.logo-carousel-wrap img,
.owl-carousel .owl-item .logo-carousel-wrap img {
    max-height: 120px;
    width: auto;
    margin: 0 auto;
}

.logo-carousel-area {
    border-top: 1px solid #DEDCDC;
    border-bottom: 1px solid #DEDCDC;
    padding: 30px 0;
    margin-bottom: 100px;
}


.widget-area {
    background-color: #000;
    padding-top: 95px;
}

.widget-area,
.widget-area a {
    color: #8e8c8c;
}

.widget-title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.widget-title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    content: "";
    background: #FC721E;
    height: 1px;
}

.widget-logo a {
    color: #fff;
}

.widget-logo {
    border-color: #fff;
    margin: 25px 0;
}

.widget-logo h2 {
    border-color: #fff;
    padding: 10px 20px;
}

.widget-area .sicial-links {
    margin: 0;
}

.widget-area .sicial-links a {
    margin: 0;
    margin-right: 5px;
}

.widget-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget-area ul li {
    position: relative;
    padding-left: 30px;
}

.widget-area ul li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f105";
    font-family: fontAwesome;
}

.single-blog-news span {
    color: #686767;
    display: block;
}

.address-info {
    padding-left: 30px;
    position: relative;
}

.address-info i.fa {
    position: absolute;
    left: 0;
    top: 10px;
    color: #FC721E;
}

.email-subscriber-form {
    background: #222222;
}

.email-subscriber-form input,
.email-subscriber-form button {
    background: #222222;
    border: none;
    padding: 10px;
    color: #fff;
}

.email-subscriber-form button {
    float: right;
    width: 20%;
}

.email-subscriber-form input {
    width: 79%;
}

.copyright-text {
    margin-top: 60px;
    border-top: 1px solid #111010;
    padding: 20px 0;
}