/*======================
    Base Css
=======================*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: auto;
}

body {
    max-height: 100%;
    transition: all .2s ease;
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 400;    
    line-height: 25px;
}

a, 
a:hover,
a:focus,
a:active
{outline: none;
text-decoration: none;
 transition: all .2s ease;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
}
a:focus,
textarea:focus,
input:focus,
button:focus {
    outline: 0 solid;
}
a{font-weight: 600;}
.fix{
    overflow: hidden;
}
.fix-x{
    overflow-x: hidden;
}
.fix-y{
    overflow-y: hidden;
}


img{
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 25px;
    font-weight: 300;
    text-transform: uppercase;    
    color: #000;
    line-height: 1.4;
}
.section-padding{
    padding: 100px 0;
}
.npt{padding-top: 0;}
.npb{padding-bottom: 0;}
.section-title{
    margin-bottom: 60px;
}

.logo img {
    max-height: 50px;
}

.logo {
    transition: .3s;    
    margin-top: 8px;

}

.mainmenu ul.nav.navbar-nav {
    float: inherit;
}

.mainmenu ul.nav.navbar-nav li {
    float: inherit;
    display: inline-block;
    position: relative;
}

.is-sticky .header-area .mainmenu ul.nav.navbar-nav li a {
    color: #fff;
}
.mainmenu ul.nav.navbar-nav li a {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 15px;transition: .3s;
}
.header-area .mainmenu ul.nav.navbar-nav li a:hover, .header-area .mainmenu ul.nav.navbar-nav li.active a {
    color: #EDDC10;
}


.header-area, .sticky-wrapper {
    padding: 20px 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99;
}

.mainmenu .nav>li>a:focus, .mainmenu  .nav>li>a:hover {
    background: transparent;
}

/*sticky*/
.is-sticky .header-area {
    box-shadow: 0 0px 20px #000;
    position: relative;
    z-index: 1;
}

.is-sticky .header-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .9;
}

.is-sticky .header-area {
    padding: 15px;
    transition: .3s;
}





/*hero*/
.homepage-hero-wrap{background-image: url(../images/hero-bg.jpg);}
.homepage-hero-wrap, .welcome-video-area {
    height: 100%;
    width: 100%;
    display: table;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    color: #fff;
}

.hero-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.homepage-hero-wrap:after, .welcome-video-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    opacity: .5;
    background: #000;

}
.hero-text {
    position: relative;
}

.hero-text:after {
    position: absolute;
    left: -30px;
    top: 0;
    width: 3px;
    height: 100%;
    content: "";
    background: #EDDC10;
    opacity: .2;
}
.hero-text h3 {
    font-weight: 300;
    position: relative;
    color: #fff;
    margin: 0 0 15px;
    text-transform: none;
}

.hero-text h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 55px;
    line-height: 50px;
    color: #fff;
}
.hero-text h1 span {
    color: #EDDC10;
}
.boxed-btn {
    background: #EDDC10;
    display: inline-block;
    padding: 10px 40px;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.hero-text .boxed-btn {
    margin-top: 15px;
}
.home-arrow {
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 60px;
    color: #fff;
    font-size: 50px;
    opacity: .4;
    animation: 2s ease rose infinite running;
}

@keyframes rose{
    0%{
        color: #fff;
        transform: translateY(0);
    }
    50%{
        color: #EDDC10;
        transform: translateY(20px);
    }
    100%{
        color: #fff;
        transform: translateY(0);
    }
}

.typed-cursor{
    animation:.5s ease cursor infinite running;
}
@keyframes cursor{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
         opacity: 0;
    }
}


/*video*/
.welcome-video-area {
    position: relative;
    overflow: hidden;
}

.ytplayer-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.welcome-video-area .container {
    position: relative;
    z-index: 3;
}

.homepage-hero-wrap.welcome-video-area:after {
    z-index: 2;
}




/*slide*/
.single-slide-item{background-image: url(../images/slide-bg-1.jpg);}
.slide-bg-1{background-image: url(../images/slide-bg-2.jpg);}
.slide-bg-2{background-image: url(../images/slide-bg-3.jpg);}
.full-height-wrap, .homepage-slides, .full-height-wrap, .homepage-slides div {
    height: 100%;
}

.full-height-wrap .homepage-slides div.slide-tablecell, .full-height-wrap .homepage-slides div.slide-tablecell div, .full-height-wrap .homepage-slides div.owl-controls, .full-height-wrap .homepage-slides div.owl-controls div{
    height: auto;
}

.single-slide-item {
    display: table;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    position: relative;
    z-index: 1;
}

.slide-tablecell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.slide-text {
    color: #fff;
    line-height: 28px;
    font-size: 16px;
}

.slide-text h1 {
    color: #fff;
}

.slide-text .boxed-btn {
    margin-top: 20px;
}

.single-slide-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .4;
}
.homepage-slides .owl-nav div {
    position: absolute;
    left: 30px;
    top: 70%;
    width: 40px;
    height: 40px;
    border: 2px solid #EDDC10;
    color: #EDDC10;
    font-size: 30px;
    text-align: center;
    transition: .3s;
    transform: translateY(-50%);
    line-height: 32px;
    opacity: 0;
    visibility: hidden;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 30px;
}

.homepage-slides .owl-nav div:hover {
    background: #ECDC10;
    color: #000;
}

.homepage-slides:hover .owl-nav div {
    opacity: .4;
    visibility: visible;
    top: 50%;
}

.homepage-slides .owl-nav div:hover {
    opacity: 1;
    
}




/*about*/
.section-title h2 {
    position: relative;
    z-index: 1;
}

.section-title h2:after {
    position: absolute;
    left: 0;
    top: 0px;
    font-size: 80px;
    color: #ddd;
    opacity: .2;
    font-weight: 600;    
    line-height: 40px;
}
.section-title.about-after h2:after {
    content: "about";
}


.author-image img {
    height: 400px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.about-section {
    background: #EDDC10;
    padding: 40px;
}

.about-section.npt-about {
    padding-top: 0;
}

.author-info{
    padding-top: 20px;
}

.author-biodata {
    margin-top: 30px;
}

.author-biodata p {
    padding-left: 35px;
    position: relative;
}

.author-biodata p i.fa {
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 16px;
}

.download-cv {
    display: block;
    background: #fff;
    color: #000;
    padding: 12px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
}
.download-cv i.fa {
    padding-right: 10px;
}


.single-bar-item h4 {
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: 400;    
    text-transform: none;
}




.author-info h3, .author-skill h3, .author-story h3{
    position: relative;
    padding-bottom: 10px;
}

.author-info h3:after, .author-skill h3:after, .author-story h3:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 2px;
    background: #000;
    content: "";
}


.author-story .boxed-btn {
    margin-top: 12px;
    background: #000;
    color: #fff;
}

.author-story h4 {
    margin: 0 0 12px;
}


.barfiller {
    width: 100%;
    height: 5px;
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}
.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background:#000;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    margin-top: -25px;
    font-size: 14px;
    color: #000;
    left: auto!important;
    position: absolute;
    z-index: 2;
    font-weight: 600;
    right: 0;
}


/*service*/

.section-title.service-after h2:after{content: "services"}
.single-service-item{
    padding: 25px;
    position: relative;
    transition: .3s;
    z-index: 1;
    margin-bottom: 30px;
}
.single-service-item:before{background-image: url(../images/service-bg-1.jpg);}
.service-bg-1:before{background-image: url(../images/service-bg-2.jpg);}
.service-bg-2:before{background-image: url(../images/service-bg-3.jpg);}
.service-bg-3:before{background-image: url(../images/service-bg-4.jpg);}
.service-bg-4:before{background-image: url(../images/service-bg-5.jpg);}
.service-bg-5:before{background-image: url(../images/service-bg-6.jpg);}

.service-icon {
    font-size: 30px;
    margin: 0 0 20px;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    border: 5px solid #fff;
    transition: .3s;
}
.service-icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #EDDC10;
    z-index: -1;
    opacity: .3;
    border-radius: 50%;
}
.single-service-item:hover .service-icon {
    border-color: #EDDC10;
    color: #fff;
}

.single-service-item:hover .service-icon:after {
    background: #000;
    opacity: 1;
}
.single-service-item h4 {margin: 0 0 20px;}

.read-more-btn {
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    position: relative;
    padding-bottom: 6px;
    transition: .3s;
    display: inline-block;
    margin-top:10px;
}
.read-more-btn i.fa {
    padding-left: 3px;
}
.read-more-btn:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45%;
    height: 4px;
    background: #EDDC10;
    content: "";
    transition: .3s;
}
.single-service-item:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-color: #ddd;  
}

.single-service-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #f9f9f9;
    z-index: -1;   
}

.single-service-item:hover:after {
    background:#000;
    opacity:.9;

}

.single-service-item:hover h4, .single-service-item:hover p, .single-service-item:hover .service-icon, .single-service-item:hover .read-more-btn {
    color: #fff;
}
.single-service-item:hover .read-more-btn:after{width: 100%;}
.single-service-item:hover .read-more-btn{color:#EDDC10;}


/*happy client area*/
.happy-client-area{
    background-image: url(../images/client-bg.jpg);
}

.happy-client-area {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 70px 0;
   margin-top: 70px;
}

.happy-client-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: "";
    background: #000;
    height: 100%;
    z-index: -1;
    opacity: .7;
}

.single-cl-item h3 {
    color: #fff;
    font-size: 18px;    
    margin: 0;

}

.cl-icon {
    width: 100px;
    height: 100px;
    font-size: 32px;
    line-height: 90px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
    color: #F8E503;
}

.cl-icon i.fa:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    height: 110%;
    content: "";
    background: #f8e503;
    z-index: -1;
    border-radius: 50%;
    margin: -5px;
    opacity: .3;
}

.cl-icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    border-radius: 50%;
}

.single-cl-item span.counter {
    font-size: 40px;
    margin: 40px 0;
    display: block;
    font-weight: 300;
}


/* portfolio */
#portfolio{background-color: #f9f9f9;}
.section-title.portfolio-after h2:after{
    content: "portfolio";
}
.portfolio-bg {
    background-image:url(../images/client.jpg); 
}
.portfolio-titles li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-right: 30px;
    position: relative;
    padding: 5px 0;
    cursor: pointer;
    transition: .3s;
}

.portfolio-titles li:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 3px;
    content: "";
    background: #EDDC10;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.portfolio-titles li:hover:after {
    width: 100%;
}

.portfolio-titles li.active:after, .portfolio-titles li:hover:after, .portfolio-titles li.active, .portfolio-titles li:hover {
    opacity: 1;
    visibility: visible;
    color: #EDDC10;
}

.single-portfolio-item {
    background-image: url(../images/p1.jpg);
    margin-top: 30px;
    position: relative;
    height: 220px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    z-index: 1;
    display: table;
}
.portfolio-bg-1{background-image: url(../images/p2.jpg);}
.portfolio-bg-2{background-image: url(../images/p3.jpg);}
.portfolio-bg-3{background-image: url(../images/p4.jpg);}
.portfolio-bg-4{background-image: url(../images/p5.jpg);}
.portfolio-bg-5{background-image: url(../images/p6.jpg);}
.portfolio-bg-6{background-image: url(../images/p7.jpg);}
.portfolio-bg-7{background-image: url(../images/p8.jpg);}
.portfolio-bg-8{background-image: url(../images/p9.jpg);}

.portfolio-hover {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(227, 220, 16, .8);
    padding: 20px;
    font-size: 14px;
    text-transform: capitalize;
    opacity: 0;visibility: hidden;
    transition: .3s;
    transform: scale(.8);
}

.portfolio-hover h4 {
    color: #000;
    font-weight: 300;
    text-transform: none;
    font-size: 20px;
    margin: 0 0 15px;
}
.portfolio-hover p {
    font-weight: 700;
}
.preview-icon {
    font-size: 18px;
    color: #000;
    position: relative;
    bottom: 15px;
    transition: .3s;
}

.portfolio-hover:before, .portfolio-hover:after {
    position: absolute;
    left: 25px;
    top: 25px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    content: "";
    width: 20%;
    height: 20%;
    z-index: 9;
    transition: .3s;
}

.portfolio-hover:after {
    left: auto;
    right: 25px;
    top: auto;
    bottom: 25px;
    transform: rotate(180deg);
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #fff;
    right: -30px;
    padding-right: 10px;
    font-size: 40px;
    opacity: 1;
}
.mfp-image-holder .mfp-close:hover, .mfp-iframe-holder .mfp-close:hover {
   color: #fc0404;
}
.mfp-arrow-right:before {
    border-left: 27px solid #eddc10;
}
.mfp-arrow-left:before {
    border-right: 27px solid #B7AC1D;
}


/*testimonial*/
#testimonial{background-image: url(../images/testimonial-bg.jpg)}
#testimonial {
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    overflow:hidden;
}

.testimonial-list.owl-carousel .owl-item img, .testimonial-meta img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #EDDC10;
    display: block;
    margin:0 auto;
    margin-bottom: 20px;

}

.single-testimonial-item {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
    padding: 30px 50px;
}

.single-testimonial-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .8;
}

.testimonial-content i.fa {
    font-size: 20px;
    left: -10px;
    position: relative;
    color: #EDDC10;
}

.testimonial-meta h3 {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
}

.testimonial-meta h3 span {
    display: block;
    font-size: 60%;
    text-transform: none;
}
.feedback {
    margin-bottom: 15px;
}
.feedback i.fa {
    font-size: 14px;
    color: #EDDC10;
    margin: 2px;
}
.testimonial-list .owl-nav div {
    display: inline-block;
    color: #EDDC10;
    font-size: 22px;
    width: 35px;
    height: 35px;
    margin: 0 8px;
    line-height: 28px;
    border: 2px solid #EDDC10;
    transition: .3s;
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
}
.testimonial-list .owl-nav div.owl-next {
    left: auto;
    right: -150px;
}
.testimonial-list .owl-nav div:hover {
    background: #EDDC10;
    color: #000;
    opacity: 1;
}

.testimonial-list .owl-dots {
    margin-top: 25px;
}
.testimonial-list .owl-dots div {
    width: 12px;
    height: 12px;
    border: 2px solid #EDDC10;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    transition: .3s;
}

.testimonial-list .owl-dots div.active {
    width: 15px;
    height: 15px;
    background: #EDDC10;
    margin: -2px 5px;
}

/*contact and map*/
.contact-area {
    position: relative;
}

#GoogleMap {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 500px;
}

.contact-form label {
    display: block;
}

input[type=text], input[type=email], input[type=tel], input[type=password], input[type=url], textarea{
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    position: relative;
    margin-bottom:5px;
}
.contact-form textarea {
    height: 120px;
}
button[type=submit], input[type=submit] {
    background: #EEC10E;
    border: none;
    padding: 12px 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    transition: .3s;
}

button[type=submit] i.fa, input[type=submit] i.fa {
    margin-left: 5px;
}
.contact-form {
    margin-top: 30px;
}

.contact-form h3 {
    text-align: center;
}

.contact-form button[type=submit] {
    margin-top: 10px;
}


/*copy*/

.copysection {
    background: #000;
    z-index: 9;
    position: relative;
    padding: 15px 0;
    margin-top: 27px;
    text-transform: capitalize;
}

.copysection, .copysection a {
    color: #fff;
}

.social-links {
    margin-top: -7px;
}

.social-links a {
    width: 35px;
    height: 35px;
    background: #222;
    display: inline-block;
    color: #EEC10E;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    top: 4px;
    transition: .3s;
}

/*scroll to top*/

.scroll-to-top a {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #EEC10E;
    line-height: 27px;
    color: #EDDC10;
    transition: .3s;
    position: fixed;
    right: 25px;
    bottom: 60px;
    display: none;
    z-index: 9;
}

.scroll-to-top a:hover {
    background: #000;
    border-color: #000;
}



/*preloader*/

.site-spinner-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
}

.site-spinner-wrap .spinner {
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.site-spinner-wrap .spinner .cube1, .site-spinner-wrap .spinner .cube2 {
  background: #EDDC10;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.site-spinner-wrap .spinner .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}








/*hover*/

.logo:hover {
    opacity: 0.8;
}

.boxed-btn {
    transition: .3s;
}

.boxed-btn:hover {
    background: #000;
    color: #fff;
}

.download-cv:hover {
    background: #000;
    color: #fff;
}

.download-cv {
    transition: .3;
}

.author-story .boxed-btn:hover {
    background: #fff;
    color: #000;
}

.author-story .boxed-btn {
    transition: .3s;
}

.cl-icon:hover {
    transform: rotate(360deg);
}

.cl-icon {
    transition: .6s;
}

.preview-icon:hover {
    color: #fff;
}

button[type=submit]:hover, input[type=submit]:hover {
    background: #000;
    color: #fff;
}

.social-links a:hover {
    background: #EEC10E;
    color: #000;
}