<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resturant - HTML5 Food Template</title>

    <!--favicon-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">

    <!-- Magnific-Popup CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!-- DateCalendar CSS -->
    <link rel="stylesheet" href="assets/css/dcalendar.picker.css">

    <!-- NiceSelect CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Jquery -->
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    
</head>


<body>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


      <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    Our speciality is a quality not quantity,good food good health.
                </div>
                <div class="col-md-7 text-right">
                    <a href="tel:+98789675667"><i class="fa fa-phone"></i>Tel : +09879867576</a>
                    <a href="#"><i class="fa fa-clock-o"></i>Started : Everyday 7:00 AM to 11 PM</a>
                    <a href=""><i class="fa fa-shopping-cart"></i> <span class="cart-count">3</span></a>

                    <div class="search-icon"><i class="fa fa-search"></i></div>
                    <div class="search-form">
                        <form action="index.html">
                            <input type="search" placeholder="search..." required>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcroumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Single Post</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="entry-content">
                        <h2>How To Cook The Spicy Chinese Noodle For Cold Weather.</h2>
                        <p class="blog-meta"><span><i class="fa fa-user"></i>post by <a href="">admin</a></span> <span><i class="fa fa-clock-o"></i>2 january 2017</span> <span><i class="fa fa-comment"></i><a href="">10 comments</a></span> <span><i class="fa fa-hand-o-right"></i><a href="">100 like</a></span></p> <img src="assets/images/64.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, ipsum! Blanditiis, quo deleniti aliquid dolores illum, obcaecati qui debitis nisi velit ipsum facere itaque cumque voluptatem sint rem fugit mollitia corporis dolor veritatis voluptatum soluta hic sunt omnis. Repellat ex, sit iusto. Voluptatibus deserunt, tempore. Placeat maiores quis iusto quibusdam, amet minus quasi, harum aperiam dolores quae molestias deleniti. Eum quod molestiae velit optio, at doloribus amet non alias eveniet! Ipsam suscipit illum, in tenetur, a libero aliquid dolore excepturi facere odio voluptatem pariatur commodi ea consequuntur quisquam culpa quibusdam fuga veritatis. Quam sint consequatur quo quasi harum provident qui!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates possimus veniam ipsam magni architecto, voluptate quidem delectus mollitia excepturi deserunt eligendi praesentium, maxime repellat veritatis quod perspiciatis impedit maiores. Quasi fuga quas enim officiis, nulla inventore nisi quis. Omnis laborum quidem id dicta hic, quae tempora vel quia iusto, ab voluptates? Similique incidunt atque optio itaque libero qui in quia sit doloribus dolores dignissimos modi est perspiciatis, deserunt pariatur molestias, ipsum unde non numquam commodi nam? Perferendis aliquid dicta veritatis.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="entry-inner-image">
                                    <img src="assets/images/65.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, veritatis.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur repellat debitis, odio accusantium voluptas nesciunt, ipsam eligendi voluptatibus quo rerum. Enim quaerat pariatur a laudantium, nemo molestiae dolorem iste deserunt placeat. Nostrum, odit explicabo natus vitae repellat? Soluta dolorum, facilis fugit fuga accusamus eveniet ipsa quod sapiente, perferendis aliquam ut vitae aliquid laborum nemo.</p>
                            </div>
                        </div>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur incidunt mollitia veritatis nobis nostrum deserunt, earum vel. Sint perspiciatis repudiandae fugit eveniet ea quas esse omnis quis. Labore, aut, quia.</blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus neque autem consequatur delectus esse incidunt quo in beatae dicta molestiae iusto repudiandae voluptate voluptatibus sed, vel maiores amet, ab eius voluptas numquam libero qui! Aliquid esse dolorem ullam, repellendus tempore consequatur vel cumque sed provident deleniti soluta aspernatur. Ut nam iure adipisci tempora quidem mollitia saepe commodi sit nemo eius accusantium corrupti eum harum minus, quo soluta corporis ducimus at officiis praesentium cumque quas doloremque eaque reprehenderit maiores. Pariatur odio quaerat sequi, asperiores perspiciatis facere beatae optio ex, iusto tenetur rerum vitae alias soluta libero illum consectetur possimus eum!</p>
                        <div class="post-tags">
                            <span>Tags from:</span>
                            <a href="#">food</a>
                            <a href="#">lifestyle</a>
                            <a href="#">Beautiful</a>
                            <a href="#">international</a>
                            <a href="#">fun</a>
                        </div>
                        <div class="social-share">
                            <a class="facebook" href="" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="linkedin" href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="youtube" href="" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a class="youtube" href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <!-- comments start-->
                    <div class="comments">
                        <h4>comments</h4>
                        <div class="row wow fadeInUp">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-xs-3">
                                        <img src="assets/images/25.jpg" alt="">
                                    </div>
                                    <div class="col-md-10 col-xs-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nostrum, dolorem quae, ullam possimus tenetur minus sed nihil ipsa. Perspiciatisdolorem quae, ullam possimus tenetur minus sed nihil ipsa. Perspiciatis!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- comments end-->
                    <!-- comment form start-->
                    <div class="comment-form wow fadeInUp">
                        <h4>Leave a replay</h4>
                        <form action="single-blog.html">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Your Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <p>
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="Write Your Message" required></textarea>
                            </p>
                            <button type="submit">message</button>
                        </form>
                    </div>
                    <!-- comment form end-->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; all right reserved <a href="">brightcarrier</a> 2017.
                </div>
                <div class="col-sm-6 text-right">
                    <div class="social-share">
                        <a class="facebook" href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="linkedin" href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a class="youtube" href="" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a class="youtube" href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="ScrollToTop">
    <a href="#"><i class="fa fa-arrow-up"></i></a>
  </div>



    <!--Bootstrap JS-->
    <script src="assets/js/bootstrap.3.3.7.min.js"></script>

    <!--Owl-Carousel JS-->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!--Active Custom JS-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!--Easing JS-->
    <script src="assets/js/jquery.easing.min.js"></script>

    <!--Sticky JS-->
    <script src="assets/js/jquery.1.0.4.sticky.js"></script>

     <!--Isotope JS-->
    <script src="assets/js/isotope-3.0.4.min.js"></script>

    <!--DateCalendar JS-->
    <script src="assets/js/dcalendar.picker.js"></script>

    <!--NiceSelect JS-->
    <script src="assets/js/jquery.1.0.nice-select.min.js"></script>

    <!--Active Custom JS-->
    <script src="assets/js/active.js"></script>

 

</body>

</html>