

.logo a span, .skillbar-bar, .boxed-btn, .author-info h4:after, .read-more-btn:after, .portfolio-titles li:after, .testimonial-list .owl-dots div.active, .date-meta, button[type=submit], input[type=submit], .homepage-slides .owl-dots div.active, .site-spinner-wrap .spinner .cube1,
 .site-spinner-wrap .spinner .cube2{
    background: #5c5cf4;
}

.mainmenu ul.nav.navbar-nav li a:hover, .mainmenu ul.nav.navbar-nav li.active a, .social-links a, .section-title h1 span, .single-service-item:hover .service-icon, .single-service-item:hover h4, .single-cl-item span.counter, .portfolio-titles li.active:after, .portfolio-titles li:hover:after, .portfolio-titles li.active, .portfolio-titles li:hover, .preview-icon, .portfolio-hover p, .team-hover h3, .team-hover .member-social-links a, .blog-content i.fa, .homepage-slides .owl-nav div, .scroll-to-top a, .copysection a, .read-more-btn:hover{
	color: #5c5cf4;
}
.hero-text .bordered-btn, .skillbar, .portfolio-hover:before, .portfolio-hover:after, .Traffic-faq .panel-group .panel, .team-hover, .testimonial-list .owl-dots div, .testimonial-list.owl-carousel .owl-item img, .testimonial-meta img, .homepage-slides .owl-dots div, .homepage-slides .owl-nav div, .single-cl-item, .scroll-to-top a{
	border-color: #5c5cf4;
}




